/**
 * @file
 * Color Settings
 *
 * - Define color variables
 */

// color definitions
$color-white               : #ffffff !default;
$color-turquoise-light     : #26c9de !default;
$color-blue-light          : #d0d0d0 !default;
$color-blue                : #a0d2f4 !default;
$color-blue-dark           : #3d5e8e !default;
$color-blue-darkest        : #011e41 !default;
$color-blue-darkest2       : #0f1d40 !default;
$color-blue-gray           : #12284c !default;
$color-turquoise           : #26c9de !default;
$color-yellow              : #ff8200 !default;
$color-yellow-light        : #ffb25b !default;
$color-grey-light          : #efefef !default;
$color-grey-light-extra    : #ebebeb !default;
$color-grey-extra          : #dbdbdb !default;
$color-grey                : #e8e8e8 !default;
$color-grey-dark           : #dadada !default;
$color-red                 : #d24744 !default;
$color-grey-background     : #f5f5f5 !default;
$color-lightgrey           : #f2f2f2 !default;


// colors by functions
$color-brand               : $color-red !default;
$color-primary             : $color-blue-gray !default;
$color-secondary           : $color-turquoise !default;
$color-tertiary            : $color-yellow-light !default;
$color-shade1              : $color-grey-light !default;
$color-shade2              : $color-grey-light-extra !default;
$color-shade3              : $color-grey-extra !default;
$color-shade4              : $color-grey-dark !default;
$color-lightest            : $color-white !default;
$body-font-color           : $color-primary !default;
$border-color              : #d4d4d4 !default;
$background-primary        : $color-grey !default;
$background-lightest       : $color-white !default;
$background-secondary      : $color-secondary !default;
$background-tertiary       : $color-blue-light !default;
$background-quaternary     : #f6f6f6 !default;
