
.contact-block {
  .block-inner {
    @include width-1105;

    position: relative;
    padding-block: 9rem;
    padding-inline: 0;
    text-align: center;

    @include breakpoint(tablet) {
      padding-block-start: 9rem;
      padding-inline: 0;
      padding-block-end: 15rem;
    }
  }
}
