//
// Use this classes in block config to add styles to blocks:
// background-color--blue, background-color--white, background-color--silver
// padding--high, padding--medium padding--low
// width--wide, width--narrow
// content--center

.block-holder {
  &.width--narrow {
    .block-inner {
      @include width-655;
    }
  }

  &.width--wide {
    .block-inner {
      @include width-1105;
    }
  }

  &.background-color {
    &--white {
      background-color: $background-lightest;
    }

    &--silver {
      background-color: $background-primary;
    }

    &--blue {
      background-color: $background-tertiary;
    }
  }

  &.padding {
    &--huge .block-inner {
      padding-block: 7rem;
      padding-inline: 0;
    }

    &--high .block-inner {
      padding-block: 5rem;
      padding-inline: 0;
    }

    &--normal .block-inner {
      padding-block: 3rem;
      padding-inline: 0;
    }

    &--low .block-inner {
      padding-block: 1rem;
      padding-inline: 0;
    }

    @include breakpoint(medium) {
      &--huge .block-inner {
        padding-block: 15rem;
        padding-inline: 0;
      }

      &--high .block-inner {
        padding-block: 10rem;
        padding-inline: 0;
      }

      &--normal .block-inner {
        padding-block: 6rem;
        padding-inline: 0;
      }

      &--low .block-inner {
        padding-block: 2rem;
        padding-inline: 0;
      }
    }
  }

  &.font--opensans {
    font-family: $font-primary;
  }

  &.font-size--18 {
    font-size: 1.8rem;
  }

  &.content {
    &--center .block-inner {
      text-align: center;
    }
  }

  >.block-inner {
    position: relative;

    >.field--name-field-title {
      @include block-title;

      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
    }

    >.field--name-field-description {
      @include width-655;

      & + .field--name-field-link {
        margin-block-start: 4rem;
      }
    }

    >.field--name-field-link {
      @include flex;
      @include justify-content(center);

      a {
        @include bordered-button;
      }
    }
  }
}
