.page-node-type-region,
.page-node-type-country {
  #block-dislaw-theme-page-title {
    padding: 4rem 0;
    margin-block-start: 2rem;

    .block-inner {
      @include width-1105;

      text-align: center;
    }
  }

  .country--top-section {
    padding-block-start: 4rem;
    padding-inline: 0;
    padding-block-end: 5rem;

    .block-inner {
      @include flex;
      @include justify-content(center);
      @include flex-direction(column);
      @include width-1105;

      @include breakpoint(medium) {
        @include flex-direction(row);
      }
    }

    &__right {
      padding-block-start: 4rem;

      @include breakpoint(medium) {
        padding-block-start: 0;
        padding-inline-start: 3rem;
      }
    }

    #map {
      width: 100%;
      height: 32rem;

      @include breakpoint(mobile) {
        width: 30.5rem;
        margin: 0 auto;
      }
    }

    .field--label-inline {
      margin-block-end: 2.4rem;
    }

    .field__label {
      @include breakpoint(medium) {
        min-width: 25rem;
      }
    }

    .field__items {
      @include flex;
      @include flex-direction(column);

      @include breakpoint(medium) {
        @include flex-direction(row);
      }
    }

    .population-group {
      @include flex;
    }

    .field--name-field-population-year {
      margin-inline-start: .7rem;
    }

    .field--name-field-official-languages {
      .field__items {
        @include flex-wrap(wrap);

        .field__item {
          &:after {
            content: ',';
            margin-inline-end: .3rem;
          }

          &:last-child:after {
            content: '';
          }
        }
      }
    }

    .field--name-field-country-selector {
      font-family: $font-primary;
      margin-block-start: -.8rem;

      .block-inner {
        @include flex;
        @include flex-direction(column);
        @include justify-content(flex-start);

        @include breakpoint(medium) {
          @include flex-direction(row);
        }
      }

      .field__item {
        width: 100%;
      }

      .form-type-select {
        min-width: 28.8rem;
        margin-inline-end: 1rem;

        select {
          width: 100%;
          background-color: $background-lightest;
        }
      }

      .field__label {
        @include flex;
        @include align-items(center);
        font-weight: 700;

        &:after {
          content: ': ';
        }
      }

      .field__item form {
        @include flex;
        @include flex-direction(column);
        @include justify-content(flex-start);

        @include breakpoint(medium) {
          @include flex-direction(row);
        }

        input.form-submit {
          min-height: 4.4rem;
          height: 4.4rem;
        }
      }
    }
  }

  // small-boxes-block
  .block-country-small-boxes {
    background-color: $background-lightest;
    padding-block-start: 2.5rem;
    padding-block-end: 6.5rem;
    padding-inline: 0;

    .paragraph--type--small-boxes {
      margin-block-start: 3rem;
    }

    .paragraph--type--small-box {
      .paragraph--inner {
        img {
          position: absolute;
          width: 3.5rem;
          height: 3.5rem;
          inset-block-start: 0;
          inset-block-end: 0;
          inset-inline-start: 2rem;
          margin: auto 0;
          z-index: 1;
        }

        a {
          position: relative;
          padding-inline-start: 6.8rem;
          z-index: 5;
        }
      }
    }
  }
}
