@import "../index";

.views-element-container > .block-inner {
  max-width: 122.2rem;
  margin: 0 auto;
  padding: 0;

  .title-holder {
    @include block-title-simple;
    margin-block-start: 6rem;
  }
}
