/**
 * @file
 * Selector Cards component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.block-page-title-block {
  margin-block-start: 6rem;

  .block-inner {
    max-width: 139.5rem !important;
    padding: 0 !important;
    margin-block-start: 6rem;
  }
}

.block-views-blockselector-cards-selector-cards-block {
  .block-inner {
    margin-block-start: 6rem;
    max-width: 139.5rem;
    padding: 0;
  }

  .view-content {
    width: 100%;

    .views-view-grid {
      .views-row {
        display: flex;
        flex-wrap: wrap;

        .views-col {
          width: 100%;
          min-height: 23.5rem;

          &:nth-child(odd) {
            background-color: $background-quaternary;
          }

          &:nth-child(even) {
            background-color: $background-lightest;
          }

          @include breakpoint(medium) {
            max-width: 69.5rem !important;
            transition: 0.4s;
          }

          &:hover {
            border-color: $color-secondary !important;
          }

          a {
            cursor: pointer;
            display: block;
            padding-block-start: 7rem;
            padding-block-end: 8.5rem;
            padding-inline: 4rem;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            &.selector-card {
              h4 {
                color: $body-font-color;
                font-family: $font-secondary;
                font-size: 3rem;
                margin-block-start: 0;
                margin-block-end: 1rem;
                margin-inline: 0;
                text-decoration: none solid $body-font-color;
                line-height: 4rem;

                @include breakpoint(medium) {
                  margin-block-start: 0;
                  margin-block-end: 1rem;
                  margin-inline: 0;
                }
              }

              p {
                color: $body-font-color;
                font-family: $font-primary;
                font-size: 1.8rem;
                text-decoration: none solid $background-quaternary;
                line-height: 3rem;
                margin: 0;
                max-width: 33.5rem;

                @include breakpoint(medium) {
                  max-width: 51.5rem;
                }
              }
            }
          }
        }
      }

      .views-row:nth-child(odd) .views-col:nth-child(odd) {
        @include breakpoint(medium) {
          background-color: $background-quaternary;
          border: solid 0.3rem $background-quaternary;
        }
      }

      .views-row:nth-child(even) .views-col:nth-child(even) {
        @include breakpoint(medium) {
          background-color: $background-quaternary;
          border: solid 0.3rem $background-quaternary;
        }
      }

      .views-row:nth-child(odd) .views-col:nth-child(even) {
        @include breakpoint(medium) {
          background-color: $background-lightest;
          border: solid 0.3rem $background-lightest;
        }
      }

      .views-row:nth-child(even) .views-col:nth-child(odd) {
        @include breakpoint(medium) {
          background-color: $background-lightest;
          border: solid 0.3rem $background-lightest;
        }
      }
    }
  }

  .view-footer {
    padding-block-start: 6rem;
    padding-block-end: 5rem;
    padding-inline: 2rem;

    a {
      max-width: 22rem;
      color: $body-font-color;
      margin: 0 auto;
      font-family: $font-secondary;
      font-size: 1.7rem;
      text-decoration: none solid $body-font-color;
      line-height: 2rem;
      text-transform: capitalize;
      text-align: center;
      height: 5rem;
      border: solid 0.2rem $color-secondary !important;

      &:hover {
        color: $color-lightest;
      }
    }
  }
}

.page-node-type-page {
  .field--name-body,
  .field--name-field-lead {
    padding-block-end: 0;
  }
}
