@import '../index';

.block-page-title-block {
  padding-block-start: 4rem;
  padding-block-end: 0;
  padding-inline: 0;
  max-width: 119.2rem;
  margin: 0 auto;

  .block-inner {
    h1.page-title {
      text-align: center;
      color: $body-font-color;
      font-family: $font-secondary;
      text-decoration: none solid $body-font-color;

      .path-frontpage & {
        font-size: 3rem;
        line-height: 1;

        @include breakpoint(medium) {
          font-size: 4rem;
          line-height: 1.225;
        }
      }
    }
  }
}
