@import '../index';

.field.field--name-field-tags {
  padding-block-start: 0;
  padding-block-end: 4rem;
  padding-inline: 0;
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    padding: 4rem;
  }

  .field__label {
    width: 100%;
    margin-block-end: 2rem;
  }

  .field__items {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 3rem;

    .field__item {
      padding: 0.25rem;

      a {
        display: inline-block;
        padding: 1.5rem 3rem;
        background-color: $color-shade1;
        font-weight: 600;
      }
    }
  }
}
