/**
 * @file
 * Site Header
 *
 * Header is not a component, it's a layout section. Therefore all header
 * related styles, rules come here except what has an independent component, ie.
 * Navigation component.
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

@include breakpoint(mobile down) {
  #toolbar-administration {
    #admin-toolbar-search-tab {
      display: none;
    }
  }
}

header {
  @include breakpoint(medium down) {
    position: sticky;
    z-index: 20;
    inset-block-start: 0;
  }
}

.region-header,
.region-navigation {
  @include width-1920;

  position: relative;
}

.region-navigation {
  z-index: 20;
  padding: 0;
}

.region-header {
  z-index: 19;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  block-size: 6rem;
  margin: 0 auto;
  background-color: $color-lightest;

  @include breakpoint(mobile down) {
    position: relative;
  }

  @include breakpoint(medium) {
    block-size: 10rem;
    padding-inline: 1.6rem;
  }

  @include breakpoint(tablet) {
/*     margin-block-start: 3rem;
    margin-block-end: 2rem; */
    margin-inline: auto;
  }

  body:not(.js-menu-is-open) & {
    z-index: 22;
  }
}

.block-system-branding-block {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  // inline-size: calc(100% - 5rem);
  block-size: 100%;
  margin-inline-start: 0.6rem;
  padding-inline-start: 0;
  line-height: 1;

  @include breakpoint(medium) {
    // inline-size: 30rem;
    margin-inline: 1.5rem 4.9rem;
  }

  .block-inner {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

a.site-logo img {
  inline-size: 10rem;
  margin-block-end: 0;
  padding-block: 0;
  border-block-end: 0;

  @include breakpoint(medium) {
    inline-size: 14rem;

    // margin-block-end: 0.5rem;
    padding-block-start: 0.8rem;
    padding-block-end: 1rem;

    // border-block-end: solid 0.2rem lightgray;
  }
}

.site-name {
  display: none;
  margin-block-start: 0.5em;
  a {
    text-decoration: none solid #000;
    color: #000;
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
  }
}
