/**
 * @file
 * News Lister Page Component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.views-field-field-media-thumbnail:before,
.views-field-field-image:before {
  content: unset !important;
}

// @TODO: FIXME: Remove this class from views
.extra-space {
  padding: 3rem 0.1rem;
}

.path-news .block-page-title-block {
  @include width-1105;

  padding-block-start: 6rem;

  .block-inner {
    h1.page-title {
      text-align: start !important;
      font-size: 4rem;

      @include breakpoint(medium) {
        text-decoration: none solid $body-font-color;
        color: $body-font-color;
        line-height: 1em;
      }
    }
  }
}

.view.lister-page.view-news {
  padding: 0;

  .view-header {
    .second-title {
      max-inline-size: 119.2rem;
      margin: 0 auto;
      padding: 0 2rem;
      color: $body-font-color;
      font-family: $font-secondary;
      font-size: 3rem;
      line-height: 4.9rem;

      @include breakpoint(medium) {
        padding-block-start: 9rem;
        padding-block-end: 0;
        padding-inline: 0;
        font-size: 4rem;
      }
    }
  }

  .view-content {
    @include width-1105;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-block-start: 4.5rem;
    padding-inline: 1.5rem;
    column-gap: 4.8rem;
    row-gap: 9.6rem;

    @include breakpoint(mobile-large) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding-block-start: 9rem;
    }
  }

  .views-row {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    padding-block-end: 2.5rem;
    transition: 0.5s;
    background-color: $background-lightest;

    @include breakpoint(medium) {
      margin-block-start: 0;
    }
  }

  .views-field-field-image img {
    inline-size: 100%;
  }

  .views-field-field-date {
    margin-block-start: 2rem;
    padding-inline: 2.5rem;
    color: $body-font-color;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-weight: 600;

    .content-type {
      text-transform: capitalize;
      color: $color-secondary;
      line-height: 1.9rem;
    }
  }

  .views-field.views-field-field-location {
    padding-block-start: 0;
    padding-block-end: 1.7rem;
    padding-inline: 2rem;
    color: $body-font-color;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-weight: 600;

    .field-content {
      a {
        display: flex;
      }
    }

    a:before {
      display: inline-block;
      inline-size: 2.2rem;
      block-size: 1.5rem;
      padding-inline-end: 0.5rem;
      content: url(../images/dist/svg/location.svg);
    }
  }

  .views-field.views-field-title {
    margin-block: 2rem;
    padding-inline: 2.5rem;
    text-decoration: none;
    color: $body-font-color;
    font-family: $font-secondary;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.22;

    @include breakpoint(medium) {
      min-block-size: 9.2rem;
    }

    a {
      transition: 0.3s;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  .views-field.views-field-view-node {
    margin-block-start: auto;
    padding-block: 3rem;
    padding-inline: 2.5rem;
    transition: 0.5s;

    @include breakpoint(medium) {
      padding-block: 0;
    }

    a {
      transition: 0.3s;
      color: $body-font-color;
      font-family: $font-secondary;
      font-size: 1.6rem;
      font-weight: 700;
      font-style: italic;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  .view-empty {
    max-inline-size: 119.2rem;
    margin: 0 auto;
    padding-block-start: 2rem;
    padding-block-end: 8rem;
    padding-inline: 0;

    .no-results {
      color: $body-font-color;
      font-family: $font-secondary;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.path-news .view.lister-page.view-news .view-content {
  padding-block-end: 10rem;
}
