/**
 * @file
 * Hero Block component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.region.region-top {
  @include breakpoint(desktop) {
    margin-block-start: -12rem;
  }

  .hero-block-type {
    @include breakpoint(desktop) {
      position: relative;
      display: flex;
      justify-content: center;
      inline-size: 100%;
    }

    .hero-text {
      @include base-padding;

      margin-block-start: 4.5rem;

      @include breakpoint(desktop) {
        position: absolute;
        inset-block: 0;
        inset-inline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-inline-size: 127rem;
        margin-block-start: 12rem;
        margin-block-end: 0;
        margin-inline: auto;
        text-align: center;
        color: $color-lightest;
        background-color: transparent;
      }

      .hero-text-container-title {
        margin-block-end: 1rem;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-family: $font-secondary;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.11;

        @include breakpoint(desktop) {
          color: $color-lightest;
          font-size: 4rem;
        }
      }

      .hero-text-container-description {
        max-inline-size: 83rem;
        margin-inline: auto;
        text-align: center;
        text-decoration: none;
        font-family: $font-primary;
        font-size: 1.8rem;
        line-height: 1.66;

        @include breakpoint(desktop) {
          color: $color-lightest;
        }
      }

      .flex-centered {
        margin-block-start: 3rem;
      }

      .bordered-button-blue {
        color: $body-font-color;

        @include breakpoint(desktop) {
          color: $color-lightest;
        }
      }
    }
  }
}
