@import "../index";

.page-node-type-page {
  .block-page-title-block {
    margin-block: 5rem;

    @include breakpoint(medium) {
      margin-block: 6rem;
    }

    .block-inner {
      @include width-855;
    }

    .page-title {
      text-align: center;
      line-height: 1.225;
    }
  }

  .field--name-body,
  .field--name-field-lead {
    @include width-655;
    @include font-open-18;

    padding-block-end: 5.5rem;
    color: $body-font-color;
    text-decoration: none solid $body-font-color;
    text-align: center;
    margin-block-start: 2rem;
  }

  .block-page-title-block + .node--type-page {
    .field--name-body,
    .field--name-field-lead {
      margin-block-start: -3rem;

      @include breakpoint(medium) {
        margin-block-start: -4rem;
      }
    }
  }

  .field--name-field-lead {
    font-weight: 700;
  }
}

.White {
    background-color: $background-lightest;
}
.Grey {
    background-color: $color-shade1;
}
.view.view-news.view-id-news.view-display-id-lister_page .views-row #block-tabs {
  max-width: 113.5rem;
  margin: 0 auto;
  padding-block-start: 2rem;
  padding-block-end: 1rem;
  padding-inline: 0;
}
