/**
 * @file
 * Site Header
 *
 * Header is not a component, it's a layout section. Therefore all header
 * related styles, rules come here except what has an independent component, ie.
 * Navigation component.
 */

@import "../index";

@include breakpoint(mobile down) {
  #toolbar-administration {
    #admin-toolbar-search-tab {
      display: none;
    }
  }
}

header {
  @include breakpoint(medium down) {
    position: sticky;
    inset-block-start: 0;
    z-index: 20;
  }
}

.region-header,
.region-navigation {
  @include width-1390;

  position: relative;
}

.region-navigation {
  padding: 0;
  z-index: 20;
}

.region-header {
  @include flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);

  z-index: 19;
  background-color: $color-lightest;
  height: 5.6rem;
  margin: 0 auto;
  padding-inline-end: 1.5rem;

  @include breakpoint(mobile down) {
    position: relative;
  }

  @include breakpoint(medium) {
    height: 8.7rem;
    padding-inline-start: 1.4rem;
    padding-inline-end: 5.7rem;
  }

  @include breakpoint(tablet) {
    margin-block-start: 3rem;
    margin-inline: auto;
    margin-block-end: 2rem;
  }

  body:not(.js-menu-is-open) & {
    z-index: 22;
  }

  .block-dropdown-language {
    margin-inline-start: auto;

    // faux header background
    &::after {
      @include breakpoint(mobile down) {
        content: "";
        position: absolute;
        inset-block-end: -3.4rem;
        inset-inline-start: 0;
        inset-inline-end: 0;
        width: 100%;
        height: 3.4rem;
        background: $background-lightest;
      }
    }

    .block-inner {
      margin-block-start: 1rem;
      margin-inline-end: 4rem;
      margin-block-end: 0;
      margin-inline-start: 0;
      font-family: $font-primary;
      font-weight: 700;
      align-self: flex-start;
      cursor: pointer;
      min-width: 11rem;
      user-select: none;
      font-size: 1.8rem;

      @include breakpoint(mobile down) {
        position: absolute;
        inset-inline-end: 1.5rem;
        inset-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
      }

      body:not(.js-menu-is-open) & {
        z-index: 31;
      }
    }

    .dropbutton-multiple {
      min-width: 11rem;

      &.open {
        position: absolute;

        @include breakpoint(medium) {
          inset-block-start: -1.7rem;
        }
      }
    }

    .dropbutton-widget {
      border: 0;

      &,
      .js[dir="rtl"] & {
        padding: 0;
      }

      .dropbutton {
        border: 0;

        @include breakpoint(mobile down) {
          position: absolute;
          width: 100%;
        }

        .dropbutton-action:first-child {
          background-image: url("../images/dist/svg/angle-down-solid.svg");
          background-repeat: no-repeat;
          background-size: 1rem;
          margin-block-end: 1rem;

          [dir="ltr"] & {
            background-position: right center;
          }

          [dir="rtl"] & {
            background-position: left center;
          }
        }

        .secondary-action {
          border-block-start: 0;
          padding-block: 1rem;
          padding-inline: 0.5rem;
          background-color: $color-shade2;

          &:hover {
            background-color: $color-primary;

            a {
              color: $color-lightest;
            }
          }
        }

        .dropbutton-toggle {
          display: none !important;
        }
      }
    }
  }
}

.block-system-branding-block {
  width: calc(100% - 5rem);
  padding-inline-start: 0;
  line-height: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include breakpoint(medium) {
    width: 30rem;
    padding-inline-start: 1rem;
  }

  .block-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

a.site-logo img {
  border-block-end: 0;
  margin-block-end: 0;
  width: 10rem;
  padding-block: 0;

  @include breakpoint(medium) {
    border-block-end: solid 0.2rem lightgray;
    margin-block-end: 0.5rem;
    padding-block-end: 1rem;
    padding-block-start: 0.8rem;
    width: 13rem;
  }
}

.site-name {
  margin-block-start: 0.5em;

  a {
    font-family: $font-secondary;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none solid #000;
    font-style: italic;
    font-weight: 500;
  }
}
