/**
 * @file
 * Image Field component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

@mixin image-placeholder {
  &:before {
    content: "";
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .8);
    background-image: url("../images/dist/icons/no-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.views-field-field-media-thumbnail,
.views-field-field-image {
  @include image-placeholder;

  .field-content {
    position: relative;
  }
}
