/**
 * @file
 * News Lister Page Component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.views-field-field-media-thumbnail:before,
.views-field-field-image:before {
  content: unset !important;
}

.extra-space {
  padding: 30px 1px;
}

.path-news .block-page-title-block {
  max-width: 124.2rem;
  padding-block-start: 6rem;

  .block-inner {
    h1.page-title {
      text-align: start !important;
      padding: 0 1.5rem;

      @include breakpoint(medium) {
        margin: 0 2.4rem;
        color: $body-font-color;
        text-decoration: none solid $body-font-color;
        line-height: 4rem !important;
      }

      @include breakpoint(desktop) {
        padding: 0;
      }
    }
  }
}

.view.lister-page.view-news {
  max-width: 122.2rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  .view-header {
    .second-title {
      max-width: 119.2rem;
      margin: 0 auto;
      font-size: 3rem;
      line-height: 4.9rem;
      font-family: $font-secondary;
      color: $body-font-color;
      padding: 0 2rem;

      @include breakpoint(medium) {
        font-size: 4rem;
        padding-block-start: 6.3rem;
        padding-block-end: 0;
        padding-inline: 0;
      }
    }
  }

  .view-content {
    padding-block-start: 6.3rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    @include breakpoint(medium) {
      justify-content: flex-start;
      max-width: 124.2rem;
      padding-inline: 0;
    }

    .views-row {
      width: 100%;
      background-color: $background-lightest;
      transition: 0.5s;
      position: relative;
      margin-block-end: 4rem;

      @include breakpoint(medium) {
        width: calc(50% - 48px);
        margin-block-start: 0;
        margin-block-end: 7rem;
        margin-inline: 2.4rem;
        padding-block-end: 7.3rem;
      }

      @include breakpoint(tablet) {
        width: calc(25% - 48px);
      }

      .views-field-field-image img {
        width: 100%;
      }

      .views-field.views-field-created,
      .views-field.views-field-field-event-date,
      .views-field-field-date {
        padding-block-start: 2.4rem;
        padding-block-end: 0;
        padding-inline: 3.2rem;
        color: $body-font-color;
        font-family: $font-secondary;
        font-size: 1.4rem;
        font-weight: 600;

        @include breakpoint(medium) {
          padding-block-start: 1.5rem;
          padding-block-end: 1rem;
          padding-inline-start: 2.5rem;
          padding-inline-end: 2rem;
        }

        .content-type {
          color: $color-secondary;
          text-transform: capitalize;
          line-height: 1.9rem;
        }
      }

      .views-field.views-field-field-location {
        padding-block-start: 0;
        padding-block-end: 1.7rem;
        padding-inline: 2rem;
        color: $body-font-color;
        font-family: $font-secondary;
        font-size: 1.4rem;
        font-weight: 600;

        .field-content {
          a {
            display: flex;
          }
        }

        a:before {
          content: url(../images/dist/svg/location.svg);
          width: 2.2rem;
          display: inline-block;
          padding-inline-end: 0.5rem;
          height: 1.5rem;
        }
      }

      .views-field.views-field-title {
        padding-block-start: 3rem;
        padding-block-end: 0;
        padding-inline: 3.2rem;
        color: $body-font-color;
        font-family: $font-secondary;
        font-size: 1.8rem;
        font-weight: 600;
        text-decoration: none solid $body-font-color;
        line-height: 1.22;

        @include breakpoint(medium) {
          min-height: 9rem;
          padding-block-start: 0.9rem;
          padding-block-end: 2.6rem;
          padding-inline: 2.5rem;
        }

        a {
          transition: .3s;

          &:hover {
            color: $color-secondary;
          }
        }
      }

      .views-field.views-field-view-node {
        padding: 3rem 3.2rem;
        transition: 0.5s;

        @include breakpoint(medium) {
          position: absolute;
          padding-block: 0;
          padding-inline-start: 2.5rem;
          padding-inline-end: 2rem;
          bottom: 3.8rem;
        }

        a {
          transition: 0.3s;
          color: $body-font-color;
          font-family: $font-secondary;
          font-size: 1.6rem;
          font-weight: 700;
          font-style: italic;

          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }

  .view-empty {
    padding-block-start: 2rem;
    padding-block-end: 8rem;
    padding-inline: 0;
    max-width: 119.2rem;
    margin: 0 auto;

    .no-results {
      color: $body-font-color;
      font-family: $font-secondary;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.path-news .view.lister-page.view-news .view-content {
  padding-block-end: 10rem;
}
