/**
 * @file
 * Quotes Paragraph Type Component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.paragraph--type--quotes {
  .paragraph--inner {
    & > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > .field__item {
        inline-size: 100%;
        margin-block-end: 3.5rem;

        @include breakpoint(medium) {
          inline-size: 50%;
        }
      }
    }
  }
}

.paragraph--type--quote-paragraph {
  block-size: 100%;
  padding: 0 1.8rem;

  .paragraph--inner {
    position: relative;
    block-size: 100%;
    padding-block-start: 9rem;
    padding-block-end: 5rem;
    padding-inline: 5.5rem;
    cursor: pointer;
    transition: background-color, 0.2s;
    background-color: #f0f0f0;
    box-shadow: 0 1rem 5rem rgb(0 0 0 / 0.1);

    &:hover {
      background-color: $color-white;
    }

    &:before {
      position: absolute;
      inset-block-start: 4rem;
      inset-inline-start: 1.5rem;
      display: block;
      inline-size: 3rem;
      block-size: 3rem;
      content: "";
      opacity: 0.5;
      background-image: url("../../images/dist/svg/quote-open.svg");
    }

    .field--name-field-text {
      position: relative;
    }

    .more-btn {
      position: relative;

      &:after {
        position: absolute;
        inset-block-start: 0.1rem;
        inset-inline-start: 100%;
        padding-inline-start: 0.5rem;
        content: url("../../images/dist/icons/arrow-right.svg");
      }
    }
  }

  &.open {
    .popup-text--wrapper {
      display: block;
    }
  }
}
