/**
 * @file
 * Primary Tabs Component
 *
 * @package: navigation
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

#block-tabs nav.tabs {
  max-width: 113.5rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  margin-block-end: 1rem;
}
