/**
 * @file
 * Button component
 *
 * Button types.
 *
 * @package: interactive
 */

@import '../index';

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bordered-button {
  @include bordered-button;
}

.bordered-button-blue {
  @include bordered-button-blue;





















}
