/**
 * @file
 * Accordion Paragraph Type Component
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import "../index";

.paragraph--type--accordion {
  > .paragraph--inner > .field--name-field-text {
    margin-block-end: 3rem;
  }

  .paragraph--type--item {
    margin-block-end: 3rem;
    border-block-end: 0.1rem solid rgba($body-font-color, 0.4);

    .field--name-field-title {
      position: relative;
      padding-inline-end: 4rem;
      font-size: 1.8rem;
      cursor: pointer;

      &:after {
        @include transition(all, 0.2s);

        content: url("../../images/dist/icons/chevron-down.svg");
        position: absolute;
        inset-block-start: -0.3rem;
        inset-inline-end: -0.6rem;
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &.empty {
      .field--name-field-title {
        cursor: default;

        &::after {
          content: "";
        }
      }
    }

    .open .field--name-field-title::after {
      @include rotate(180);
    }

    .field--name-field-text {
      @include transition(all, 0.2s);

      height: 0;
      overflow: hidden;
    }

    .paragraph--inner.open .field--name-field-text {
      height: auto;
      padding-block-end: 2.5rem;
      overflow: auto;
    }
  }

  .field__item:last-child {
    .paragraph--type--item {
      margin-block-end: 0;
      padding-block-end: 0;
      border-block-end: 0;
    }
  }
}
