/**
 * @file
 * Breakpoint Settings
 *
 * Foundation for Sites 6 Media Queries
 * @see documentation, usage: https://foundation.zurb.com/sites/docs/media-queries.html
 *
 * - Define breakpoint variables as Sass map
 * - Provide a breakpoint variable for print media
 * - Provide breakpoint classes for Foundation for Sites 6 XY Grid
 *
 * We have to use here only px, it will be converted to em by
 * Foundation's utility.
 */

$breakpoint--small  : 0;
$breakpoint--mobile : 376px;  // 23.438em
$breakpoint--medium : 768px;  // 48.000em
$breakpoint--tablet : 1024px; // 64.000em
$breakpoint--desktop: 1280px; // 80.000em
$breakpoint--large  : 1440px; // 90.000em
$breakpoint--xxlarge: 1920px; // 120.000em

$breakpoints: (
  small: $breakpoint--small,
  mobile: $breakpoint--mobile,
  medium: $breakpoint--medium,
  tablet: $breakpoint--tablet,
  desktop: $breakpoint--desktop,
  large: $breakpoint--large,
  xxlarge: $breakpoint--xxlarge,
);
$print-breakpoint: desktop;
// for css class names
$breakpoint-classes: (small mobile tablet desktop xxlarge);
