
@mixin basePadding {
  margin-inline: auto;
  padding: 0 1.5rem;
}

@mixin width-1390 {
  max-width: 139rem;
  @include basePadding;
}

@mixin width-1200 {
  max-width: 120rem;
  @include basePadding;
}

@mixin width-1105 {
  max-width: 122.2rem;
  @include basePadding;
}

@mixin width-655 {
  max-width: 68.5rem;
  @include basePadding;
}

@mixin width-690 {
  max-width: 72rem;
  @include basePadding;
}

@mixin width-855 {
  max-width: 88.5rem;
  @include basePadding;
}

@mixin width-960 {
  max-width: 99rem;
  @include basePadding;
}
