/**
 * @file
 * Color Settings
 *
 * - Define color variables
 */

// color definitions
$color-white            : #ffffff;
// $color-blue-light       : #d9f4fb;
$color-turquoise-light  : #26c9de;
$color-blue-light       : #d0d0d0;
$color-blue             : #a0d2f4;
$color-blue-dark        : #3d5e8e;
$color-blue-darkest     : #011e41;
$color-blue-darkest2    : #0f1d40;
$color-blue-gray        : #12284c;
$color-turquoise        : #26c9de;
$color-yellow           : #ff8200;
$color-yellow-light     : #ffb25b;
// $color-turquoise        : $color-yellow;
$color-grey-light       : #efefef;
$color-grey-light-extra : #ebebeb;
$color-grey-extra       : #dbdbdb;
$color-grey             : #e8e8e8;
$color-grey-dark        : #dadada;
$color-red              : #d24744;
$color-grey-backbgorund : #f5f5f5;


// colors by functions
$color-brand            : $color-red;
$color-primary          : $color-blue-darkest;
$color-secondary        : $color-turquoise;
$body-font-color        : $color-blue-darkest;
