@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.paragraph--type--partners.padding--high{
  padding-top:10rem;
  padding-bottom:4rem;
  padding-left:0;
  padding-right:0;
}
.paragraph--type--partners.padding--normal{
  padding-top:6rem;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
}
.paragraph--type--partners.padding--low{
  padding-top:2rem;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
}
.paragraph--type--partners .field--name-field-title,
.paragraph--type--partners .field--name-field-text, .paragraph--type--partners.width--narrow .field--name-field-title,
.paragraph--type--partners.width--narrow .field--name-field-text{
  max-width:68.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.paragraph--type--partners.width--wide .field--name-field-title,
.paragraph--type--partners.width--wide .field--name-field-text{
  max-width:122.2rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.paragraph--type--partners .field--name-field-text{
  margin-bottom:9rem;
}
.paragraph--type--partners .field--name-field-paragraphs{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0 -1.5rem;
}
@media print, screen and (min-width: 64em){
  .paragraph--type--partners .field--name-field-paragraphs{
    justify-content:flex-start;
  }
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item{
  width:100%;
  max-width:35.6rem;
  padding-top:0;
  padding-bottom:1.5rem;
  padding-left:6rem;
  padding-right:6rem;
}
@media print, screen and (min-width: 64em){
  .paragraph--type--partners .field--name-field-paragraphs > .field__item{
    width:25%;
    max-width:none;
    padding-bottom:12rem;
  }
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner{
  position:relative;
  max-width:31.5rem;
  margin:0 auto;
  text-align:center;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .partner-top{
  display:flex;
  justify-content:center;
  margin-bottom:1.5rem;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .partner-top a{
  transition:background-color, 0.2s;
  display:flex;
  justify-content:center;
  align-items:center;
  width:20rem;
  height:20rem;
  overflow:hidden;
  border:0.2rem solid #26c9de;
  border-radius:17rem;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .partner-top a:hover{
  background-color:#ffffff;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .partner-title a{
  transition:color, 0.2s;
  display:block;
  font-weight:700;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .partner-title a:hover{
  color:#26c9de;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-image{
  margin-bottom:3rem;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-name,
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-title,
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link{
  font-size:1.8rem;
  line-height:1.33;
  margin-bottom:2rem;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-name{
  font-weight:700;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-title{
  font-weight:400;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a{
  transition:all 0.2s;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a:link, .paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a:visited{
  color:#26c9de;
}
.paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a:hover, .paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a:focus, .paragraph--type--partners .field--name-field-paragraphs > .field__item .paragraph--type--partner .field--name-field-link a:active{
  color:#12284c;
}
.paragraph--type--partners.style--rounded .field--name-field-image img{
  border-radius:50%;
}

/*# sourceMappingURL=../../maps/5.components/components.paragraph-partners.css.map */
