/**
 * @file
 * SMACSS: theme
 *
 * Purely visual styling ("look-and-feel") for components.
 *
 * ITCSS: -
 */

/**
 * Imports
 *
 * First import our custom variables and mixins
 */
@import 'index';

.close-menu {
  text-align: right;
  padding: 2rem;
}

nav.navigation.menu--main {
  display: block !important;
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  transition: .5s;
  overflow: hidden;
  background-color: white;
  @include breakpoint(tablet) {
    overflow: unset;
    background-color: transparent;
  }

  .adminimal-admin-toolbar &,
  .toolbar-vertical & {
    top: 39px;
  }
}

nav.navigation.menu--main.open {
  left: 0;
}

@include breakpoint(tablet) {
  nav.navigation.menu--main {
    position: initial !important;
  }
  .close-menu {
    display: none;
  }
}

#block-sitebranding {
  padding-left: 0;
  width: calc(100% - 5rem);
  line-height: 1;
  @include breakpoint(medium) {
    width: 15rem;
    padding-left: 1rem;
    line-height: 1;
  }
}

a.site-logo img {
  border-bottom: 0;
  margin-bottom: 0;
  width: 10rem;
  padding-bottom: 0;
  padding-top: 0;
  @include breakpoint(medium) {
    border-bottom: solid 0.2rem lightgray;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
    width: 13rem;
  }
}

.site-name a {
  // font-family: Montserrat;
  font-family: $font-montserrat;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none solid rgb(0, 0, 0);
  font-style: italic;
  font-weight: 500;
  padding-left: 1rem;
  @include breakpoint(medium) {
    padding-left: 0;
  }
}

#block-sitebranding {
  .block-inner {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 0;
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      line-height: 1;
    }
  }
}

.node--unpublished {
  background-color: transparent;
}

.openid-connect-login-form {
  text-align: center;

  input.form-submit {
    display: inline-flex;
  }
}
