// style of news, events, case study page

#block-tabs nav.tabs {
  max-width: 113.5rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  margin-block-end: 1rem;
}

.view-general-site-search,
.page-node-type-news {
  .node {
    background-color: $color-white;
    padding: 0;
  }

  .info-section,
  .content-section {
    @include width-1105;
    @include flex;
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
  }

  .info-section {
    margin-block-end: 3.2rem;
    font-size: 1.8rem;
    font-family: $font-open;
    font-weight: 700;

    .field {
      &:after {
        content: '|';
        margin-inline: 1rem;
      }

      &:last-child:after {
        content: '';
      }

      &.field--name-field-start-date {
        &:after {
          content: '-';
          margin-inline-start: .4rem;
        }
      }
    }
  }

  .content-section {
    &--content {
      width: 100%;
      font-family: $font-open;
      line-height: 3rem;
      margin-block-end: 6rem;

      @include breakpoint(medium) {
        max-width: 66.5rem;
        width: 60%;
      }

      .field--name-field-media-image {
        margin-block-end: 5rem;
      }

      .field--name-field-lead,
      .field--name-body {
        @include breakpoint(medium) {
          padding-block: 0;
          padding-inline: 3rem;
        }
      }

      .field--name-field-lead {
        font-size: 2rem;
        font-weight: 700;
        margin-block-end: 4rem;
        line-height: 2.8rem;
      }

      .field--name-body {
        font-size: 1.8rem;
      }

      .lightgallery-wrapper {
        margin-block-start: 5rem;

        .lightgallery {
          @include flex;
          @include flex-direction(row);
          @include flex-wrap(wrap);

          li {
            max-width: 25%;
            margin-block-end: 1rem;
            padding: 0 .5rem;
            list-style: none;

            a {
              position: relative;
              display: block;

              &:after {
                content: '';
                position: absolute;
                inset-block-start: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-color: $color-secondary;
                opacity: 0;
              }

              &:hover:after {
                opacity: .3;
              }
            }

            &:first-child {
              max-width: none;
              margin-block-end: 2rem;
            }
          }
        }
      }

      .field--name-field-media-oembed-video {
        margin-block-start: 5rem;

        iframe {
          width: 100%;
          min-height: 40rem;
        }
      }
    }

    &--sidebar {
      width: 100%;

      @include breakpoint(medium) {
        padding-inline-start: 1.7rem;
        width: 40%;
        max-width: 44rem;
      }

      .sidebar-block {
        width: 100%;
        padding-block-start: 3rem;
        padding-block-end: 5.4rem;
        padding-inline: 3.5rem;
        background-color: $color-blue-light;
        margin-block-end: 4rem;
        overflow: hidden;

        .field--name-field-title-related-links,
        .field--name-field-title-related-documents {
          font-weight: 700;
          margin-block-end: 2.3rem;
        }

        .field--name-field-news-attachment,
        .field--name-field-related-links,
        .field--name-field-related-documents {
          .field__item {
            margin-block-end: 2.4rem;

            a {
              @include link-hover;
            }
          }
        }
      }

      .files--holder {
        margin-block-end: 4rem;

        .field--name-field-news-attachment {
          a {
            @include bordered-button;
          }
        }
      }
    }
  }

  .field--name-field-related-news-and-events {
    background-color: $color-blue-light;
    margin-block-start: 10rem;

    .field-label--holder {
      @include width-1105;

      position: relative;

      .field__label {
        @include block-title;

        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
      }
    }

    .field-items-holder {
      @include width-1105;

      > .field__items {
        @include flex;
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include flex-wrap(wrap);

        margin: 0 -1.5rem;
        padding-block-start: 8rem;
        padding-block-end: 4rem;
        padding-inline: 0;

        > .field__item {
          max-width: 35.6rem;
          margin-block-start: 0;
          margin-block-end: 3rem;
          margin-inline: 1rem;
          border: 0.1rem solid transparent;
          min-height: 47rem;

          @include breakpoint(tablet) {
            max-width: calc(25% - 3rem);
            margin-block-start: 0;
            margin-block-end: 3rem;
            margin-inline: 1.5rem;
          }

          article {
            @include flex;
            @include flex-direction(column);
            @include justify-content(flex-start);

            height: 100%;
          }

          .field--name-field-image {
            margin-block-end: 2.6rem;

            @include breakpoint(tablet) {
              margin-block-end: 1.3rem;
            }
          }

          .info-line {
            @include flex;

            .field--name-field-date + .field--name-field-type {
              &:before {
                content: "|";
                margin: 0 0.3rem;
                font-weight: 400;
              }
            }
          }

          .item-title {
            margin-block-end: auto;
          }

          .field--name-title,
          .field--name-field-short-title {
            @include transition(color, 0.2s);

            max-height: 9.6rem;
            margin-block-end: 1.6rem;
            overflow: hidden;
            display: block;
            font-weight: 700;
            padding: 0 2.3rem;

            &:hover {
              color: $color-secondary;
            }
          }

          .country-line {
            .field--name-field-city:before {
              content: '';
              display: inline-block;
              background-image: url('../../images/dist/icons/map-marker.svg');
              background-repeat: no-repeat;
              width: 1.5rem;
              height: 1.7rem;
              margin-block-end: -0.2rem;
              margin-inline-end: 0.5rem;
            }
          }

          .node-readmore {
            @include transition(all, 0.2s);

            border-block-end: 1rem solid $color-white;
            padding: 0 2.3rem;

            a {
              @include transition(all, 0.2s);

              margin-block-start: auto;
              padding-block-end: 2rem;
              font-style: italic;
              font-weight: 700;
              display: block;
              margin-block-end: -1rem;

              &:hover {
                color: $color-secondary;
              }
            }

            &:hover {
              border-color: $color-secondary;
            }
          }
        }
      }

    }
  }
}

.page-node-type-page {
  .field--name-body,
  .field--name-field-lead {
    @include width-655;
    @include font-open-18;

    padding-block-end: 5.5rem;
    color: $body-font-color;
    text-decoration: none solid $body-font-color;
    text-align: center;
    margin-block-start: 2rem;
  }

  .block-page-title-block + .node--type-page {
    .field--name-body,
    .field--name-field-lead {
      margin-block-start: -3rem;

      @include breakpoint(medium) {
        margin-block-start: -4rem;
      }
    }
  }

  .field--name-field-lead {
    font-weight: 700;
  }
}

