/**
 * @file
 * Typography component
 *
 * General typography theming.
 *
 * @package: typography
 */

.page-node-type-page {
  .block-page-title-block {
    margin-block: 5rem;

    @include breakpoint(medium) {
      margin-block: 6rem;
    }

    .block-inner {
      @include width-855;
    }

    .page-title {
      text-align: center;
      line-height: 1.225;
    }
  }
}

.paragraph {
  .block-holder {
    .block-inner {
      position: relative;

      .title-holder {
        z-index: 10;
        position: absolute;
        inset-inline: 0;
        inset-block-start: -2.5rem;
        margin: 0;

        span {
          @include block-title;
        }
      }
    }
  }
}

.field--label-inline {
  @include flex;
  @include flex-direction(column);
  @include justify-content(flex-start);

  @include breakpoint(medium) {
    @include flex-direction(row);
  }

  font-family: $font-open;

  .field__label {
    font-weight: 700;

    &:after {
      content: ": ";
    }
  }
}
