
.block-country-map {
  margin-block-end: 1rem;

  @include breakpoint(tablet) {
    margin-block-end: -5.5rem;
    position: relative;
  }

  .block-inner {
    max-width: 128rem;
    margin: 0 auto;
  }

  #map {
    height: 38rem;

    @include breakpoint(tablet) {
      height: 60rem;
    }
  }
}

#map {
  button.gm-ui-hover-effect {
    display: none !important;
  }

  .iw-modal__heading {
    font-weight: 700;
  }

  a.iw-modal__to-contact {
    @include transition(all, 0.2s);

    border: 0.2rem solid $color-secondary;
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    margin-block-start: 2.5rem;
    font-weight: 700;

    &:hover {
      border-color: $body-font-color;
      background-color: $body-font-color;
      color: $color-lightest;
    }
  }

  .gm-style .gm-style-iw {
    font-weight: 400;
  }

  .gm-style .gm-style-iw-c {
    border-radius: 0;
    max-width: 21rem !important;
  }
}
