/**
 * @file
 * Form component
 *
 * Form and input elements, like:
 *  - input (text, number, email, password...)*
 *  - textarea
 *  - select
 *  - radios and checkboxes
 *
 * *Buttons and `input[type="submit"]` are in Button component.
 *
 * @package: interactive
 * @see more 5.components/components.search
 */

select.form-select,
input[data-drupal-selector="edit-search-api-fulltext"] {
  font-family: $font-primary;
  border: 0;
  padding: .9rem 1.1rem;
}

select.form-select {
  cursor: pointer;
}

input,
select {
  &:focus {
    outline: none;
  }
}

.form-type-textfield,
.form-type-email,
.form-type-entity-autocomplete,
.form-type-select,
.form-type-textarea,
.form-type-password {
  margin-inline-end: 0;
  width: 100%;

  label {
    margin-block-end: .6rem;
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    opacity: 0.9;
    color: $color-primary;
    text-decoration: none;
    line-height: 3rem;
  }

  select,
  input {
    background-color: $color-shade1;
    border: 0;
    padding: 1rem;
    height: 4.4rem;
    width: 100%;
  }
  textarea {
    background-color: $color-shade1;
    border: 0;
    padding: 1rem;
    width: 100%;
    height: 31.5rem;
  }
}

input.form-submit {
  @include bordered-button;
}

input.form-submit.js-hide {
  @include bordered-button--small;
  padding: 0 3.5rem;
}

.page-node-type-page {
  .block-views-exposed-filter-blockdisaster-law-database-main {
    background-color: $background-lightest;
    padding-block-start: 5.5rem;
    padding-block-end: 5rem;

    .block-inner {
      @include width-655;

      .form--inline {
        @include flex;
        @include justify-content(flex-center);

        width: 100%;

        label {
          display: none;
        }

        input.form-submit {
          min-height: 4.4rem;
          height: 4.4rem;
        }
      }
    }
  }
}

.path-contact {
  .block-system-main-block {
    background-color: $background-lightest;
    padding: 5rem 0 !important;

    @include breakpoint(tablet) {
      padding: 8rem !important;
    }

    .block-inner {
      @include width-1105;
    }
  }
}
.contact-form {
  @include flex;
  @include flex-wrap(wrap);

  .left,
  .right {
    width: 100%;

    @include breakpoint(mobile) {
      width: 80%;
      margin: 0 auto;
    }

    @include breakpoint(medium) {
      width: 60%;
    }

    @include breakpoint(tablet) {
      width: 50%;
    }
  }

  .left {
    @include breakpoint(tablet) {
      padding-inline-end: 2rem;
    }
  }

  .right {
    .ajax-progress {
      display: none;
    }

    @include breakpoint(tablet) {
      padding-inline-start: 2rem;
    }
  }

  .form-wrapper:not(:first-child) {
    margin-block-start: 4.2rem;
  }

  .form-managed-file {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);

    .form-submit {
      @include bordered-button--small;
    }
  }

  .form-actions {
    @include flex;
    @include justify-content(center);

    text-align: center;
    width: 100%;
  }

  .description {
    font-size: 1.4rem;

    a {
      color: $color-secondary;
      text-decoration: underline;
    }
  }
  input[data-drupal-selector="edit-preview"] {
    display: none;
  }
}

.path-user {
  .user-login-form {
    @include width-655;

    padding-block-end:10rem;
  }

  .js-form-item {
    margin-block-end: 3rem;
  }

  select,
  input,
  textarea {
    background-color: $background-lightest;
  }
}
