.dmi-countries-block--wrapper {
  padding-block-start: 1rem;

  .title {
    margin-block-end: 5rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
  }

  .tab-group--tabs li {
    @include breakpoint(medium) {
      width: calc(100% / 5);
    }
  }

  .region-wrapper {
    min-height: 25rem;
    padding-block-start: 2rem;
    padding-block-end: 5rem;
    padding-inline: 0;
    background-color: $background-lightest;

    @include breakpoint(medium) {
      padding: 5rem 0;
    }

    .region-content {
      @include width-1105;

      display: none;

      .empty-text--region,
      .empty-text--sub-region {
        text-align: center;
      }

      &.is-active {
        display: block;
      }

      .item-list {
        ul {
          @include flex;
          @include justify-content(space-between);
          @include flex-wrap(wrap);

          margin-block-end: 5rem;
          padding-inline-start: 0;
          list-style: none;

          @include breakpoint(medium) {
            @include justify-content(center);
          }

          li {
            margin: 1.3rem;
            border-bottom: 0.2rem solid transparent;
            font-family: $font-primary;
            font-weight: 700;
            cursor: pointer;

            @include breakpoint(medium) {
              margin: 0 1.3rem;
            }

            &.is-active {
              border-block-end: 0.2rem solid $color-secondary;
              color: $color-secondary;
            }
          }
        }
      }

      .empty-text--sub-region,
      .sub-region-content {
        display: none;

        &.is-active {
          display: block;
        }
      }
    }

    .country-list {
      @include flex;
      @include width-655;
      @include justify-content(center);
      @include flex-wrap(wrap);

      a {
        display: inline-block;
        margin: 0.5rem 1rem;
        color: $color-tertiary;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    > .country-list {
      padding: 5rem;
    }
  }
}

.drm-index-search {
  #edit-description {
    @include width-655;

    margin-block-end: 4.5rem;
    font-family: $font-primary;
    font-size: 1.8rem;
    text-align: center;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    legend {
      display: none;
    }
  }

  .geographical-area-title,
  .instrument-type-title {
    margin-block-end: 2rem;
    padding-block-start: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .top-container {
    @include flex;
    @include flex-direction(column);
    @include justify-content(center);

    margin-block-end: 5rem;
    padding: 4rem 0;
    background-color: $background-lightest;

    @include breakpoint(medium) {
      @include flex-direction(row);
    }
  }

  #edit-top-container-instrument-type,
  #edit-top-container-geographical-area {
    padding: 0 4rem;
    text-align: center;

    .chosen-container {
      width: 100% !important;
      max-width: 45rem;
      min-height: 5.2rem;

      .chosen-choices {
        padding: 1rem 1.5rem;
        border: 0;
        background-color: $color-shade1;
        background-image: none;
        cursor: pointer;

        li.search-choice {
          display: inline-block;
          margin-inline-end: 0.5rem;
          margin-block-end: 0.5rem;
          padding-block: 0.5rem;
          padding-inline-start: 1rem;
          padding-inline-end: 2rem;
          border: 0;
          border-radius: 0;
          background-color: $color-secondary;
          background-image: none;
          box-shadow: none;
          color: $color-lightest;
          cursor: pointer;

          .search-choice-close {
            inset-block-start: 0.6rem;
            inset-inline-end: 0.3rem;
            background: url("../../images/dist/icons/close--white.svg") no-repeat center;
            background-size: 1.7rem;
          }
        }
      }

      .chosen-drop {
        text-align: start;
      }

      &-active {
        .chosen-choices {
          box-shadow: none;
        }
      }
    }
  }

  #edit-top-container-geographical-area {
    border-inline-end: 0.1rem solid $color-shade1;

    .form-type-select {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  #edit-top-container-instrument-type {
    .form-item {
      padding: 2rem 0;
    }
  }

  #edit-top-container-geographical-area-level-of-comparison {
    @include flex;
    @include justify-content(center);
    @include flex-direction(column);

    padding: 2rem 0;

    @include breakpoint(medium) {
      @include flex-direction(row);
    }

    input {
      display: none;
    }

    label {
      display: inline-block;
      min-width: 50%;
      margin-block-end: 1rem;
      padding: 1.1rem 1.5rem;
      background-color: $background-primary;
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;

      @include breakpoint(medium) {
        min-width: auto;
        margin-inline-end: 1rem;
        margin-block-end: 0;
      }
    }

    input:checked + label {
      background-color: $color-secondary;
      color: $color-lightest;
    }

    .js-form-item:last-child label {
      margin-inline-end: 0;
    }
  }

  .bottom-container {
    @include flex;
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include flex-direction(column);
    @include width-1105;
    @include transition(opacity, 0.2s);

    margin-block-end: 5rem;
    opacity: 0.4;
    pointer-events: none;

    @include breakpoint(medium) {
      @include flex-direction(row);
    }

    &.active {
      position: relative;
      opacity: 1;
      pointer-events: all;

      #edit-bottom-container-results {
        position: sticky;
        inset-block-start: 10rem;
      }
    }
  }

  #edit-bottom-container-drm-indicators {
    width: 100%;

    @include breakpoint(medium) {
      width: 60%;
      padding-inline-end: 2rem;
    }
  }

  #edit-bottom-container-results {
    width: 100%;
    padding: 6rem 2rem;
    background-color: $background-lightest;

    @include breakpoint(medium) {
      width: 40%;
    }

    .form-actions {
      @include flex;
      @include justify-content(center);
    }

    #edit-results-title {
      text-align: center;
    }

    #edit-bottom-container-results-title {
      @include flex;

      text-align: center;

      position: relative;
    }

    .result-title {
      position: relative;
      margin-block-start: 3rem;
      margin-block-end: 2rem;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;

      .helper-icon {
        content: "i";
        position: absolute;
        inset-block-start: -0.7rem;
        inset-inline-end: -2.5rem;
        width: 1.6rem;
        height: 1.6rem;
        border: 0.1rem solid $color-secondary;
        border-radius: 1rem;
        color: $color-secondary;
        font-size: 1.1rem;
        line-height: 1.7rem;
        text-align: center;
        cursor: pointer;
      }

      .result-title-helper {
        display: none;
        position: absolute;
        z-index: 999;
        inset-block-start: 3.1rem;
        inset-inline-end: -50%;
        width: 200%;
        padding: 1rem;
        background-color: $background-lightest;
        box-shadow: 0 0 2rem #00000047;
        font-family: $font-primary;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8rem;
      }

      .helper-icon:hover + .result-title-helper {
        display: block;
      }
    }

    .result-filters-regions-wrapper {
      display: none;
    }

    .result-filters-wrapper {
      margin: 3rem 0;

      .result-filters-regions-wrapper {
        display: none !important;
      }

      .form-wrapper {
        @include flex;
        @include flex-wrap(wrap);
        @include justify-content(flex-start);

        margin-block-end: 2rem;

        .selected-filter {
          input {
            display: none;
          }
        }

        .result-item-title {
          margin-inline-end: 1rem;
          font-weight: 700;
        }

        label {
          display: inline-block;
          position: relative;
          margin-inline-end: 0.5rem;
          margin-block-end: 0.5rem;
          padding-block: 0;
          padding-inline-end: 2.5rem;
          padding-inline-start: 0.7rem;
          background-color: $color-secondary;
          color: $color-lightest;
          font-size: 1.4rem;
          cursor: pointer;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            inset-block-start: 0.4rem;
            inset-inline-end: 0.3rem;
            width: 1.7rem;
            height: 1.7rem;
            background-image: url("../../images/dist/icons/close--white.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.7rem;
          }
        }
      }
    }

    #edit-bottom-container-results-countries {
      @include flex;
      @include flex-wrap(wrap);

      margin-block-start: 3rem;
      padding: 0 3rem;

      a {
        margin: 0.3rem 0.5rem;
        color: $color-secondary;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  #edit-results-title,
  .drm-indicators-title {
    margin-block-end: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .category-fieldset {
    position: relative;
    margin-block-end: 2rem;
    padding-block-start: 0;
    padding-block-end: 1.5rem;
    padding-inline: 2rem;
    background-color: $background-lightest;

    &:last-child {
      margin-block-end: 0;
    }

    > img {
      display: inline-block;
      position: absolute;
      inset-block-start: 0.6rem;
      inset-inline-start: 2rem;
      width: 4.5rem;
    }

    .categories-title {
      position: relative;
      padding-block-start: 2rem;
      padding-block-end: 0;
      padding-inline-start: 6rem;
      padding-inline-end: 2rem;
      font-size: 1.8rem;
      font-weight: 700;
      cursor: pointer;

      &.active {
        color: $color-secondary;
      }

      &:after {
        content: url("../../images/dist/icons/plus.svg");
        display: inline-block;
        position: absolute;
        inset-block-start: 1.8rem;
        inset-inline-end: 0;
        inset-block-end: 0;
        width: 2.2rem;
        height: 2.2rem;
        margin: auto 0;
      }
    }

    .subcategories-title {
      position: relative;
      width: 100%;
      margin-block-end: 1.5rem;
      padding-inline-end: 2rem;
      font-weight: 700;
      cursor: pointer;

      &.active {
        color: $color-secondary;
      }

      &:after {
        @include transition(all, 0.2s);

        content: url("../../images/dist/icons/chevron-down.svg");
        display: inline-block;
        position: absolute;
        inset-block-start: -0.3rem;
        inset-inline-end: -0.6rem;
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    .subcategory-fieldset {
      @include flex;
      @include justify-content(flex-start);
      @include flex-wrap(wrap);

      display: none;
      padding-block-start: 2rem;

      .indicator {
        display: none;
      }

      & + .subcategory-fieldset {
        padding-block-start: 1.5rem;
        border-block-start: 0.1rem solid $color-grey;
      }

      &.open {
        & + .subcategory-fieldset {
          margin-block-start: 1.5rem;
        }

        .subcategories-title:after {
          @include rotate(180);
        }

        .indicator {
          display: inline-block;
        }
      }
    }

    &.open {
      .subcategory-fieldset {
        display: block;
      }

      .categories-title:after {
        content: url("../../images/dist/icons/minus.svg");
      }
    }
  }

  .indicator {
    input {
      display: none;
    }

    label {
      display: inline-block;
      margin-inline-end: 0.5rem;
      margin-block-end: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: $background-primary;
      font-size: 1.4rem;
      cursor: pointer;
    }

    input:checked + label {
      background-color: $color-secondary;
      color: $color-lightest;
      font-weight: 700;
    }

    input:checked ~ label {
      background-color: $color-secondary;
      color: $color-lightest;
      font-weight: 700;
    }
  }

  #edit-actions {
    @include flex;
    @include justify-content(center);

    padding: 3rem 0;
    opacity: 0.4;
    pointer-events: none;

    input {
      @include bordered-button;
    }
  }

  .bottom-container.active ~ #edit-actions {
    opacity: 1;
    pointer-events: all;
  }
}
