@import '../index';

.paragraph--type--cta {
  .field--name-field-title {
    font-family: $font-montserrat;
    font-size: 4rem;
    line-height: normal;
    color: $body-font-color;
    text-decoration: none solid $body-font-color;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  .field--name-field-text {
    margin-bottom: 4rem;

    p {
      font-family: $font-open;
      font-size: 18px;
      color: $body-font-color;
      text-decoration: none solid $body-font-color;
      line-height: 30px;
      text-align: center;

      &.text-align-justify {
        text-align: justify;
      }
    }
  }
}
