@import '../index';

.paragraph--type--cta {
  .field--name-field-title {
    font-family: $font-montserrat;
    font-size: 4rem;
    line-height: normal;
    color: $body-font-color;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin-block-end: 5rem;
  }

  .field--name-field-text {
    margin-block-end: 4rem;

    p {
      font-family: $font-open;
      font-size: 1.8rem;
      color: $body-font-color;
      text-decoration: none solid $body-font-color;
      line-height: 3rem;
      text-align: center;

      &.text-align-justify {
        @include text-align(justify, start);
      }
    }
  }
}
