@import "../index";
@import "../3.base/_base.css-settings";
@import "../3.base/base.typography";
@import "../1.settings/settings.all";

.path-resources {
  .block-page-title-block .block-inner {
    @include width-1390;
  }

  .page-title {
    margin-block-start: 6rem;
    margin-block-end: 3rem;
    margin-inline: 0;
    font-size: 3rem;
    line-height: 1.16;

    @include breakpoint(mobile) {
      margin-block-end: 2.2rem;
      font-size: 4rem;
    }
  }
}

.block-facet-blocktags-of-document {
  @include width-1390;
  @include clearfix;

  margin-block-start: 3rem;
  margin-block-end: 2.3rem;
  margin-inline: auto;

  @include breakpoint(mobile) {
    margin-block-start: 4rem;
    margin-block-end: 3.5rem;
  }

  .item-list__links {
    margin: -0.25rem;
  }

  .facet-item {
    float: inline-start;
    display: block;
    padding: 0.25rem;

    .facet-wrapper {
      padding: 1.5rem;
      background: #f6f6f6;

      &.active {
        background: $color-white;
      }
    }

    a {
      font-family: $font-montserrat;
      font-size: 1.6rem;
      color: $body-font-color;
      text-decoration: none;
      line-height: 1.8rem;
      font-weight: bold;
    }

    .js-facet-deactivate {
      background-image: url('../../images/dist/icons/close-dark.svg');
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      inset-block-start: 0.2rem;
      position: relative;
    }
  }
}

.views-element-container {
  @include width-1390;
}
.view-search {
  clear: both;
  padding-block-start: 3.5rem;
}

.block-views-exposed-filter-blocksearch-resources {
  @include width-1390;

  .form--inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }

  .form-type-textfield {
    @include breakpoint(mobile) {
      float: inline-start;
      max-width: 41.1rem;
    }

    input {
      background-color: white;
      border: 1px solid $border-color;
      background-image: url('../../images/dist/icons/search.svg');
      background-repeat: no-repeat;
      background-size: 2.2rem;
      height: 4.8rem;

      @include breakpoint(mobile) {
        padding-inline-start: 2.3rem;
      }

      [dir="ltr"] & {
        background-position: 98% center;
      }

      [dir="rtl"] & {
        background-position: 2% center;
      }
    }
  }
  .form-item-category {
    margin-block-start: 2.1rem;

    @include breakpoint(mobile) {
      max-width: 38.6rem;
      margin-block-start: 0;
      margin-inline-start: 1rem;
    }

    @include breakpoint(medium) {
      margin-inline-start: 2.7rem;
    }

    select {
      background-color: $color-white;
      border: 0.1rem solid #dadada;
      height: 4.8rem;
    }
  }

  .form-actions {
    width: 100%;
    margin-block-start: 2.6rem;

    @include breakpoint(mobile) {
      width: auto;
      margin-block-start: 0;
      margin-inline-start: 1rem;
    }

    @include breakpoint(medium) {
      margin-inline-start: 2.7rem;
    }
  }

  input.form-submit {
    @include breakpoint(mobile down) {
      width: 100%;
    }
  }
}
