@import '../index';

.paragraph--type--cta {
    padding: 4rem 0;
    max-width: 83.5rem;
    margin: 0 auto;
    .field--name-field-title {
        font-family: Montserrat;
        font-size: 4rem;
        color: $color-blue-darkest;
        text-decoration: none solid $color-blue-darkest;
        text-align: center;
        font-weight: 700;
        margin-bottom: 5rem;
    }
    .field--name-field-text {
        margin-bottom: 4rem;
        p {
            font-family: Open Sans;
            font-size: 18px;
            color: $color-blue-darkest;
            text-decoration: none solid $color-blue-darkest;
            line-height: 30px;
            text-align: center;
        }
    }
}
