/**
 * @file
 * Common settings for special pages like "Page not found", "Access denied" and
 * unformatted FE pages...
 *
 */

 @import '../index';

.region.region-content {
  @include width-1200;

  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  .block-page-title-block {
    margin-bottom: 4rem;
  }
}
