@import '../index';

.field--name-field-paragraphs {
  .field__item {
    .paragraph--type--view {
      .paragraph--inner {
        max-width: 122.2rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 1.5rem;

        .block-views {
          .block-inner {
            max-width: unset;
            padding: 0;

            .title-holder {
              max-width: 115.7rem;

              span {
                @include block-title;
                margin-left: 0;
                font-family: $font-montserrat;
                font-size: 3.6rem;
                color: #fff;
                text-decoration: none;
                box-shadow: 2.2rem 0 0 $body-font-color, -1.9rem 0 0 $body-font-color;
              }
            }

            .view.lister-page.view-news {
              padding: 0;
              .view-content {
                padding-top: 10.2rem;
              }

              .more-link {
                text-align: center;
                padding-top: 4rem;
                padding-bottom: 4rem;

                a {
                  width: 261px;
                  height: 47px;
                  border: solid 2px $color-secondary;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0 auto;
                  font-family: $font-montserrat;
                  font-size: 16px;
                  font-weight: 600;
                  color: $body-font-color;
                  transition: all, 0.2s;

                  &:hover {
                    background-color: $color-secondary;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
