@import '../index';

.layout-content {
    max-width: 139rem;
    margin: 0 auto;
}
.views-field-field-media-thumbnail:before, 
.views-field-field-image:before {
    content: unset !important;
}

h1.page-title {
    font-size: 4rem;
    line-height: 4rem;
    text-align: left;
}

.view.view-news.view-id-news.view-display-id-lister_page {
    .view-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
    
        .views-row {
            width: 262px;
            background-color: white;
            margin: 24px 24px 72px 24px;
            transition: .5s;
            &:hover {
                box-shadow: 0 0 15px lightgray;
            }

            .views-field.views-field-created {
                padding: 10px 20px;
                color: $color-blue-darkest2;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 600;
                .content-type {
                    color: $color-turquoise-light;
                    text-transform: capitalize;
                }
            }

            .views-field.views-field-title {
                padding: 10px 20px;
                height: 120px;
                color: $color-blue-darkest2;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 600;
                a {
                    transition: .3s;
                    &:hover {
                        color: $color-turquoise-light;
                    }
                }
            }

            .views-field.views-field-view-node {
                padding: 0 20px 20px;
                transition: .5s;
                a {
                    transition: .3s;
                    color: $color-blue-darkest2;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: italic;
                    &:hover {
                        color: $color-turquoise-light;
                    }
                }
            }
        }
    }
}

