@import "../_index";

.region.region-top {
  position: relative;
  top: 0;
  @include breakpoint(desktop) {
    margin-top: -12rem;
  }

  .hero-block-type {
    @include breakpoint(desktop) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .hero-text {
      @include basePadding;

      margin-top: 4.5rem;

      @include breakpoint(desktop) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        max-width: 127rem;
        margin: 6rem auto 0;
        text-align: center;
        color: white;
      }

      .hero-text-container-title {
        text-align: center;
        font-family: $font-montserrat;
        font-size: 3.6rem;
        text-decoration: none;
        line-height: 1.11;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        @include breakpoint(desktop) {
          font-size: 40px;
          color: #ffffff;
        }
      }

      .hero-text-container-description {
        margin-right: auto;
        margin-left: auto;
        max-width: 83rem;
        text-align: center;
        font-family: $font-open;
        font-size: 1.8rem;
        text-decoration: none;
        line-height: 1.66;

        @include breakpoint(desktop) {
          color: #ffffff;
        }
      }

      .flex-centered {
        margin-top: 3rem;
      }

      .bordered-button-blue {
        color: $body-font-color;

        @include breakpoint(desktop) {
          color: #ffffff;
        }
      }
    }
  }
}
