/**
 * @file
 * Search component
 *
 * Site search, a special form component.
 *
 * @package: interactive
 * @see more 5.components/components.form
 */

@import '../index';

.block-page-title-block {
  .block-inner {
    @include width-1390;

    margin-block-start: 4rem;
    margin-block-end: 4.5rem;

    @include breakpoint(medium) {
      margin-block-start: 6rem;
      margin-block-end: 6.5rem;
    }

    .page-title {
      font-size: 4rem;
      line-height: 1.16;
    }
  }
}

.views-exposed-form {
  .view-search & {
    @include width-1390;

    @include breakpoint(large) {
      padding-inline: 0;
    }

    .form--inline {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include breakpoint(mobile) {
        flex-wrap: nowrap;
      }
    }

    .form-item-text {
      width: 100%;

      @include breakpoint(mobile) {
        max-width: 40rem;
      }

      @include breakpoint(tablet) {
        width: 50%;
      }

      @include breakpoint(large) {
        width: 30%;
      }
    }

    .form-text {
      height: auto;
      padding: 1.35rem 1em;
      border: 1px solid $color-grey-dark;
      background: $background-lightest;
    }

    .form-actions {
      width: 100%;
      margin-block-start: 3rem;

      @include breakpoint(mobile) {
        width: auto;
        margin-block-start: 0;
        margin-inline-start: 1.3rem;
      }
    }

    input.form-submit {
      @include breakpoint(mobile down) {
        width: 100%;
      }
    }
  }
}

.view-filters {
  .view-search & {
    padding-block-start: 12rem;
    padding-block-end: 8rem;
  }
}

.view-content {
  .view-search &,
  .view-taxonomy-term & {
    @include width-1390;

    margin-block-start: -2rem;

    @include breakpoint(large) {
      padding: 0;
    }
  }
}

.node,
.media {
  .view-search &,
  .view-taxonomy-term & {
    padding: 3rem;
    color: $body-font-color;
    background: $background-lightest;

    @include breakpoint(mobile) {
      padding: 3rem 5rem;
    }

    @include breakpoint(medium) {
      padding: 5rem 10rem;
    }

    h2 {
      font-size: 2.2rem;
      line-height: 1.1;
      font-weight: 700;

      @include breakpoint(medium) {
        font-size: 3rem;
      }

      a {
        color: #000;
      }
    }

    .content-header,
    .content-header-text {
      display: flex;
      flex-direction: row;
    }

    .content-header {
      margin-block-start: 1rem;
    }

    .content-header,
    .field--name-field-location {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.35;
    }

    .created-time-pipe {
      margin: 0 0.25em;
    }

    .field--name-field-location {
      margin-block-start: 1.5rem;

      img {
        margin-block-start: -0.2rem;
        margin-inline-start: -0.4rem;
      }
    }

    .field--name-field-lead {
      margin-block-start: 1.5rem;
      font-family: $font-primary;
    }
  }
}

.views-row {
  .view-search &,
  .view-taxonomy-term & {
    padding: 2rem 0;
  }
}
