@import '../index';

.region.region-content {
  background-color: white;
  margin-top: 2rem;
  padding: 0 2rem;
}

.block-page-title-block {
  max-width: 139rem !important;
  .block-inner {
    @include breakpoint(medium) {
      max-width: 774px;
      margin-left: calc(1/8 * 100%);
    }

    h1.page-title {
      text-align: left;
    }
  }
}

article {
  max-width: 139rem;
  margin: 0 auto;
  .node__content {
    @include breakpoint(medium) {
      margin-left: calc(1/8 * 100%);
    }
    .content-header {
      padding: 1.8rem 0 2.9rem 0;
      display: flex;
      align-items: center;
      .share-button {
        margin-right: 3.7rem;
        padding: 0!important;
        &--button {
          padding: 0 !important;
          text-align: left !important;
        }
      }
      .content-header-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .created-time {
        color: $body-font-color;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font-open;
        text-decoration: none solid rgb(18, 40, 76);
        line-height: 30px;
        .content-type {
            color: $color-secondary;
        }
      }
      .location {
        @include breakpoint(medium) {
          padding-left: 5rem;
        }
      }
      .field--name-field-location {
        display: flex;
        color: $body-font-color;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $font-open;
        text-decoration: none solid rgb(18, 40, 76);
        line-height: 30px;
        img {
          margin-right: 0.4rem;
          align-self: center;
        }
      }
    }
    .field.field--name-field-lead.field--type-string-long {
      margin: 4.4rem 0 0 0;
      font-weight: 700;
      line-height: 3rem;
      padding: 0;
      font-family: $font-open;
      font-size: 22px;
      max-width: 68.4rem;
      color: black;
      @include breakpoint(medium) {
        margin: 4.4rem 2.3rem 0 2.3rem;
      }
    }

    .field.field--name-body {
      max-width: 684px;
      font-size: 18px;
      line-height: 3rem;
      padding: 0 0 4rem;
      font-family: $font-open;
      margin-top: 3rem;
      @include breakpoint(medium) {
        margin: 2.8rem 0 4rem 2.3rem;
      }
    }
    .field.field--name-field-tags {
      padding: 0 0 4rem;
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(medium) {
        padding: 2.3rem;
      }
      .field__item {
        margin-bottom: 3rem;
        a {
          padding: 1.5rem 3rem;
          background-color: $color-grey-light;
          margin-right: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}
