
@import '../index';

.paragraph--type--partners {
  &.padding {
    &--high {
      padding-block-start: 10rem;
      padding-block-end: 4rem;
      padding-inline: 0;
    }

    &--normal {
      padding-block-start: 6rem;
      padding-block-end: 0;
      padding-inline: 0;
    }

    &--low {
      padding-block-start: 2rem;
      padding-block-end: 0;
      padding-inline: 0;
    }
  }

  &,
  &.width--narrow {
    .field--name-field-title,
    .field--name-field-text {
      @include width-655;
    }
  }

  &.width--wide {
    .field--name-field-title,
    .field--name-field-text {
      @include width-1105;
    }
  }

  .field--name-field-text {
    margin-block-end: 9rem;
  }

  .field--name-field-paragraphs {
    @include flex;
    @include justify-content(center);
    @include flex-wrap(wrap);

    margin: 0 -1.5rem;

    @include breakpoint(tablet) {
      @include justify-content(flex-start);
    }

    > .field__item {
      width: 100%;
      max-width: 35.6rem;
      padding-block-start: 0;
      padding-block-end: 1.5rem;
      padding-inline: 6rem;

      @include breakpoint(tablet) {
        width: 25%;
        max-width: none;
        padding-block-end: 12rem;
      }

      .paragraph--type--partner {
        position: relative;
        max-width: 31.5rem;
        margin: 0 auto;
        text-align: center;

        .partner-top {
          @include flex;
          @include justify-content(center);

          margin-block-end: 1.5rem;

          a {
            @include transition(background-color, 0.2s);
            @include flex;
            @include justify-content(center);

            align-items: center;
            width: 20rem;
            height: 20rem;
            overflow: hidden;
            border: 0.2rem solid $color-secondary;
            border-radius: 17rem;

            &:hover {
              background-color: $color-lightest;
            }
          }
        }

        .partner-title a {
          @include transition(color, 0.2s);

          display: block;
          font-weight: 700;

          &:hover {
            color: $color-secondary;
          }
        }

        .field--name-field-image {
          margin-block-end: 3rem;
        }

        .field--name-field-name,
        .field--name-field-title,
        .field--name-field-link {
          font-size: 1.8rem;
          line-height: 1.33;
          margin-block-end: 2rem;
        }

        .field--name-field-name {
          font-weight: 700;
        }

        .field--name-field-title {
          font-weight: 400;
        }

        .field--name-field-link {
          a {
            transition: all 0.2s;

            &:link,
            &:visited {
              color: $color-secondary;
            }

            &:hover,
            &:focus,
            &:active {
              color: $body-font-color;
            }
          }
        }
      }
    }
  }

  &.style--rounded {
    .field--name-field-image img {
      border-radius: 50%;
    }
  }
}
