@import "../index";
@import "../3.base/_base.css-settings";
@import "../3.base/base.typography";
@import "../1.settings/settings.all";

.path-resources {
  .block-page-title-block .block-inner {
    @include width-1390;
  }

  .page-title {
    margin: 6rem 0 3rem;
    font-size: 3rem;
    line-height: 1.16;

    @include breakpoint(mobile) {
      margin-bottom: 2.2rem;
      font-size: 4rem;
    }
  }
}

.block-facet-blocktags-of-document {
  @include width-1390;
  @include clearfix;

  margin: 3rem auto 2.3rem;

  @include breakpoint(mobile) {
    margin: 4rem auto 3.5rem;
  }

  .facet-item {
    float: left;
    display: block;
    margin-left: 5px;
    .facet-wrapper {
      padding: 15px;
      background: #f6f6f6;
      &.active {
        background: #ffffff;
      }
    }
    a {
      font-family: $font-montserrat;
      font-size: 16px;
      color: $body-font-color;
      text-decoration: none solid rgb(18, 40, 76);
      line-height: 18px;
      font-weight: bold;
    }

    .js-facet-deactivate {
      background: url('../../images/dist/icons/close-dark.svg');
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
      top: 2px;
      position: relative;
    }
  }
}

.views-element-container {
  @include width-1390;
}
.view-search {
  clear: both;
  padding-top: 35px;
}

.block-views-exposed-filter-blocksearch-resources {
  @include width-1390;

  .form--inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }

  .form-type-textfield {
    @include breakpoint(mobile) {
      float: left;
      max-width: 411px;
    }

    input {
      background-color: white;
      border: 1px solid $border-color;
      background-image: url('../../images/dist/icons/search.svg');
      background-repeat: no-repeat;
      background-position: 98% center;
      background-size: 22px;
      height: 48px;

      @include breakpoint(mobile) {
        padding-left: 23px;
      }
    }
  }
  .form-item-category {
    margin-top: 2.1rem;

    @include breakpoint(mobile) {
      max-width: 38.6rem;
      margin-top: 0;
      margin-left: 1rem;
    }

    @include breakpoint(medium) {
      margin-left: 2.7rem;
    }

    select {
      background-color: white;
      border: 1px solid #dadada;
      height: 48px;
      background-image: url('../../images/dist/icons/chevron-down.svg');
    }
  }

  .form-actions {
    width: 100%;
    margin-top: 2.6rem;

    @include breakpoint(mobile) {
      width: auto;
      margin-top: 0;
      margin-left: 1rem;
    }

    @include breakpoint(medium) {
      margin-left: 2.7rem;
    }
  }

  input.form-submit {
    @include breakpoint(mobile down) {
      width: 100%;
    }
  }
}
