@import '../index';

.block-page-title-block {
  padding: 4rem 0 0 0;
  max-width: 119.2rem;
  margin: 0 auto;

  .block-inner {
    h1.page-title {
      text-align: center;
      font-size: 3rem;
      color: $body-font-color;
      font-family: $font-montserrat;
      line-height: 3rem;
      text-decoration: none solid $body-font-color;
      @include breakpoint(medium) {
        margin-left: 0;
        font-size: 4rem;
        line-height: 4.9rem;
      }
    }
  }
}

