@import "../_index";

.views-element-container > .block-inner {
  max-width: 122.2rem;
  margin: 0 auto;
  padding: 0;
  .title-holder {
    @include block-title-simple;
    margin-top: 6rem;
  }
  .lister-page {
    // margin-top: 6.2rem;
  }
}
.lister-page {
  .second-title {
    @include block-title-simple;
    margin-top: 10.3rem;

    @include breakpoint(medium) {
      margin: 10.3rem 24px 0;
    }
  }
}

.block-views-blockevents-upcoming-events-block {
  @include block-title-simple;

  @include breakpoint(medium) {
    margin: 0 24px;
  }
}

.lister-page.view-events {
  max-width: 122.2rem;
  margin: 0 auto;

  .view-content {
    padding-top: 6.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    @include breakpoint(medium) {
      justify-content: flex-start;
      max-width: 124.2rem;
    }

    .views-row {
      width: 100%;
      background-color: white;
      transition: .5s;
      position: relative;
      margin-bottom: 4rem;

      @include breakpoint(medium) {
        width: 262px;
        margin: 0 24px 70px 24px;
        padding-bottom: 7.3rem;
      }

      .field--name-field-image img {
        width: 100%;
      }

      .field--name-field-event-date {
        @include text-small-bold;
        margin: 1.9rem 2.8rem 1.3rem 2.6rem;
      }
      .field--name-field-location {
        @include text-small-bold;
        margin-left: 21px;
        display: flex;
        align-items: center;
        img {
          margin-right: .4rem;
        }
      }
      .field--name-title {
        font-family: $font-montserrat;
        color: $color-blue-gray;
        font-size: 1.8rem;
        text-decoration: none solid $color-blue-gray;
        line-height: 1.22;
        margin: 2.6rem 4.6rem 3.3rem 2.6rem;
        display: block;
        min-height: 9rem;
      }
      a.read-more {
        @include text-read-more;

        display: block;
        margin-left: 2.6rem;
        margin-bottom: 4.6rem;

        @include breakpoint(medium) {
          position: absolute;
          bottom: 4.6rem;
          left: 2.6rem;
          margin: 0;
        }
      }
    }
  }
  .more-link {
    margin-top: 5rem;
    @include view-more-button;

  }
  .view-empty {
    margin-top: 3.4rem;
    .no-results {
      font-family: $font-open;
      font-size: 1.6rem;
      color: $color-blue-gray;
      text-decoration: none solid $color-blue-gray;
      line-height: 2.5;
      font-weight: 700;
    }
  }
}
