
@import '../index';

.paragraph--type--text-media {
  .paragraph--inner {
    @include flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include width-1105;

    @include breakpoint(medium) {
      @include flex-direction(row);
      .left,
      .right {
        width: 50%;
      }
    }
  }

  .right {
    .text-formatted p a {
      color: $color-secondary;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.paragraph--view-mode--invers {
    .right {
      @include flex-order(-1);

      @include breakpoint(medium) {
        @include flex-order(2);
      }
    }

    .left {
      @include breakpoint(medium) {
        padding-block-start: 2.5em;
        padding-inline-end: 5.5rem;
      }
    }
  }

  &.paragraph--view-mode--default {
    .right {
      @include breakpoint(medium) {
        padding-block-start: 2.5em;
        padding-inline-start: 12.5%;
      }
    }
  }

  iframe {
    width: 100%;
    min-height: 30rem;
  }

  .field--name-field-media {
    margin-block-end: 3rem;

    @include breakpoint(medium) {
      margin-block-end: 0;
    }

    img {
      width: 100%;
    }
  }

  .field--name-field-link {
    margin-block-start: 4rem;

    a {
      @include font-open-18;

      position: relative;
      padding-inline-start: 3rem;
      text-decoration: underline;

      &::before {
        content: url("../../images/dist/icons/arrow-right.svg");
        position: absolute;
        inset-block-start: 0.2rem;
        inset-inline-start: 0;
        padding-inline-end: 1.5rem;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
