#block-tabs nav.tabs {
  max-width: 113.5rem;
  margin: 20px auto 10px;
}

.block-page-title-block .block-inner h1.page-title {
  text-align: left;
  font-size: 4rem;
  line-height: 4rem;
}

article .node__content {
  max-width: 113.5rem;
  margin: 0 auto;
}

.field.field--name-field-lead.field--type-string-long {
  max-width: 650px;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 3rem;
}

.field.field--name-body {
  max-width: 650px;
  padding: 0 0 40px 0;
  font-size: 18px;
  line-height: 3rem;
}

.created-time {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
