@import '../index';

.field.field--name-field-tags {
  padding: 0 0 4rem;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(medium) {
    padding: 4rem;
  }

  .field__label {
    width: 100%;
    margin-bottom: 2rem;
  }

  .field__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .field__item {
      padding: 2.5px;

      a {
        display: inline-block;
        padding: 1.5rem 3rem;
        background-color: $color-grey-light;
        font-weight: 600;
      }
    }
  }
}
