@import '../index';

.block-page-title-block {
  margin: 78px auto 33px !important;
  padding: 0 !important;

  .block-inner {
    h1.page-title {
      margin-left: 0 !important;
      font-size: 4rem !important;
      line-height: 4.9rem !important;
      text-align: center !important;
    }
  }
}

.contact-form {
  background-color: white;
  padding-bottom: 11.2rem;

  .form-container {
    @include width-1200;

    border: 0;

    legend {
      display: none;
    }

    .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 6.8rem;
      margin-right: -2.4rem;
      margin-left: -2.4rem;

      .left {
        width: 100%;
        padding-right: 2.4rem;
        padding-left: 2.4rem;

        @include breakpoint(medium) {
          width: calc(3 / 8 * 100%);
        }

        #edit-field-upload-label-wrapper {
          margin-top: 5.1rem;
          font-family: $font-montserrat;
          font-size: 24px;
          color: $color-blue-gray;
          text-decoration: none solid $body-font-color;
          line-height: 30px;
          font-weight: 700;
          margin-bottom: 1.8rem;
        }

        #edit-field-contact-reason {
          padding: 1rem 5rem 1rem 1rem;
        }

        .field--name-field-attachment {
          label {
            font-family: $font-montserrat;
            font-size: 1.8rem;
            color: $body-font-color;
            text-decoration: none solid $body-font-color;
            font-weight: 700;
          }
          input[type="file"] {
            width: 100%;
            margin-top: 10px;
          }
          input[type="submit"] {
            margin: 20px 0;
            width: 23.1rem;
            height: 4.7rem;
          }
          .description {
            font-family: $font-open;
            font-size: 1.6rem;
            color: $body-font-color;
            text-decoration: none solid rgb(0, 0, 0);
            line-height: 25px;
          }
        }
      }

      .right {
        width: 100%;
        padding-right: 2.4rem;
        padding-left: 2.4rem;

        @include breakpoint(medium) {
          width: calc(5 / 8 * 100%);
        }
      }
    }

    #edit-field-terms-and-conditions-wrapper {
      width: 100%;
      margin-top: 5.6rem;
      text-align: center;
      font-family: $font-open;
      font-size: 1.6rem;
      color: $body-font-color;
      margin-bottom: 2.1rem;

      a {
        text-decoration: underline solid $body-font-color;
      }
    }
  }
  .form-actions {
    margin-top: 2.1rem !important;
  }

  input#edit-submit {
    font-family: $font-montserrat;
    font-size: 1.6rem;
    color: $body-font-color;
    text-decoration: none solid $body-font-color;
    line-height: 19px;
    text-align: center;
    width: 23.1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      background-color: $color-secondary !important;
      border-color: $color-secondary !important;
    }
  }

  .captcha {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
