/**
 * @file
 * Common settings for special pages like "Page not found", "Access denied" and
 * unformatted FE pages...
 *
 */

 @import '../index';

.region.region-content {
  max-width: 119.2rem;
  margin: 0 auto;
  padding: 8rem 2rem;
  text-align: center;
  .block-page-title-block {
    margin-bottom: 4rem;
  }
}
