@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.page-node-type-page .block-page-title-block{
  margin-top:5rem;
  margin-bottom:5rem;
}
@media print, screen and (min-width: 48em){
  .page-node-type-page .block-page-title-block{
    margin-top:6rem;
    margin-bottom:6rem;
  }
}
.page-node-type-page .block-page-title-block .block-inner{
  max-width:88.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.page-node-type-page .block-page-title-block .page-title{
  text-align:center;
  line-height:1.225;
}

.paragraph .block-holder .block-inner{
  position:relative;
}
.paragraph .block-holder .block-inner .title-holder{
  z-index:10;
  position:absolute;
  left:0;
  right:0;
  top:-2.5rem;
  margin:0;
}
[dir="ltr"] .paragraph .block-holder .block-inner .title-holder span{
  margin-left:1.5rem;}
[dir="rtl"] .paragraph .block-holder .block-inner .title-holder span{
  margin-right:1.5rem;}
.paragraph .block-holder .block-inner .title-holder span{
  font-family:"Montserrat", sans-serif !important;
}
.paragraph .block-holder .block-inner .title-holder span{
  font-size:3.6rem;
  font-weight:700;
  color:#ffffff;
  background-color:#12284c;
  padding:0.2rem 0;
  margin-top:-2.3rem;
  box-shadow:2.6rem 0 0 #12284c, -1.9rem 0 0 #12284c;
  -webkit-box-decoration-break:clone;
          box-decoration-break:clone;
  line-height:5rem;
}

.field--label-inline{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  font-family:"Open Sans", sans-serif;
}
@media print, screen and (min-width: 48em){
  .field--label-inline{
    flex-direction:row;
  }
}
.field--label-inline .field__label{
  font-weight:700;
}
.field--label-inline .field__label:after{
  content:": ";
}
.views-field-field-media-thumbnail:before,
.views-field-field-image:before{
  content:"";
  box-shadow:inset 0 0 3rem rgba(0, 0, 0, 0.8);
  background-image:url("../../images/dist/icons/no-img.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:25%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.2;
}
.views-field-field-media-thumbnail .field-content,
.views-field-field-image .field-content{
  position:relative;
}
.u-show{
  visibility:visible !important;
}
.u-hide{
  visibility:hidden !important;
}
.u-visually-hide{
  clip:rect(1px 1px 1px 1px) !important;
  clip:rect(1px, 1px, 1px, 1px) !important;
  height:1px !important;
  overflow:hidden !important;
  position:absolute !important;
  width:1px !important;
}
.u-visually-hide--focusable:active, .u-visually-hide--focusable:focus{
  position:static !important;
  width:auto !important;
  height:auto !important;
  overflow:visible !important;
  clip:auto !important;
  white-space:normal !important;
}