@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
[dir="ltr"] .social-block{
  margin-left:auto;}
[dir="rtl"] .social-block{
  margin-right:auto;}
.social-block{
  display:flex;
  -mox-box-align:center;
  align-items:center;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .block-dropdown-language + .social-block{
    margin-left:0;}
  [dir="rtl"] .block-dropdown-language + .social-block{
    margin-right:0;}
}
.social-block img{
  width:2.4rem;
  height:2.4rem;
}
@media print, screen and (max-width: 63.99875em){
  [dir="ltr"] .social-block img{
    margin-right:1.5rem;}
  [dir="rtl"] .social-block img{
    margin-left:1.5rem;}
}
.social-block .bordered-button{
  padding:1.4rem 5.1rem;
}

.mobile-icons{
  display:flex;
  flex-direction:row;
  -mox-box-align:center;
  align-items:center;
}
@media print, screen and (min-width: 64em){
  .mobile-icons{
    display:none;
  }
}

.menu--main > .menu{
  display:flex;
  flex-direction:column;
  position:relative;
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu{
    -mox-box-align:center;
    align-items:center;
    overflow:scroll;
    height:100vh;
  }
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu{
    flex-direction:row;
  }
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu > a{
    display:none;
  }
}
.menu--main > .menu > .menu-item{
  width:auto;
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu > .menu-item{
    margin-bottom:2rem;
    width:100%;
    text-align:center;
  }
}
@media print, screen and (min-width: 64em){
  [dir="ltr"] .menu--main > .menu > .menu-item{
    margin-right:0.2rem;}
  [dir="rtl"] .menu--main > .menu > .menu-item{
    margin-left:0.2rem;}
  .menu--main > .menu > .menu-item{
    -moz-flex-grow:0;
    -ms-flex-grow:0;
    flex-grow:0;
    flex:1 1 0;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .menu--main > .menu > .menu-item a,
  .menu--main > .menu > .menu-item span{
    text-align:center;
  }
  .menu--main > .menu > .menu-item:hover, .menu--main > .menu > .menu-item:hover span, .menu--main > .menu > .menu-item:hover a{
    background-color:#12284c;
    color:white;
    transition:0.2s;
  }
}
.menu--main > .menu > .menu-item a,
.menu--main > .menu > .menu-item span{
  transition:color, 0.2s;
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu > .menu-item a:hover,
  .menu--main > .menu > .menu-item span:hover{
    transition:0.2s;
    color:#ffffff;
    background-color:#12284c;
  }
}
.menu--main > .menu > .menu-item > span,
.menu--main > .menu > .menu-item > a{
  font-weight:700;
  display:block;
  cursor:pointer;
  padding:1.5rem 0;
  line-height:2rem;
  transition:all 0.5s;
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu > .menu-item > span,
  .menu--main > .menu > .menu-item > a{
    display:inline-block;
    font-size:1.8rem;
    text-align:center;
  }
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu > .menu-item > span,
  .menu--main > .menu > .menu-item > a{
    color:#12284c;
    background-color:white;
    padding:0;
  }
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu > .menu-item > span,
  .menu--main > .menu > .menu-item > a{
    text-transform:uppercase;
    padding:2.2rem 3rem;
    background-color:#ffffff;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
  }
}
.menu--main > .menu > .menu-item.menu-item--active-trail{
  color:#ffffff;
  background-color:#12284c;
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu > .menu-item.menu-item--active-trail{
    color:#ffffff;
    background-color:#12284c;
  }
}
.menu--main > .menu > .menu-item.menu-item--active-trail > span,
.menu--main > .menu > .menu-item.menu-item--active-trail > a{
  color:#ffffff;
  background-color:#12284c;
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu > .menu-item.menu-item--active-trail > span,
  .menu--main > .menu > .menu-item.menu-item--active-trail > a{
    color:white;
    background-color:#12284c;
  }
}
.menu--main > .menu .menu-item--expanded{
  position:relative;
}
[dir="ltr"] .menu--main > .menu .menu-item--expanded .dropdown-arrow{
  margin-left:1rem;}
[dir="rtl"] .menu--main > .menu .menu-item--expanded .dropdown-arrow{
  margin-right:1rem;}
.menu--main > .menu .menu-item--expanded .dropdown-arrow{
  transform:rotate(90deg);
  display:inline-block;
  transition:0.5s;
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu .menu-item--expanded .dropdown-arrow{
    display:none;
  }
}
.menu--main > .menu .menu-item--expanded .dropdown-arrow__icon{
  width:1rem;
  height:1rem;
  pointer-events:none;
}
.menu--main > .menu .menu-item--expanded.opened{
  background-color:#12284c;
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu .menu-item--expanded.opened .menu-link{
    color:#ffffff;
  }
}
.menu--main > .menu .menu-item--expanded.opened .dropdown-arrow{
  transform:rotate(270deg);
}
.menu--main > .menu .menu-item--expanded.opened .dropdown-arrow__icon{
  fill:#ffffff;
}
.menu--main > .menu .menu-item--expanded > .menu{
  color:#ffffff;
  background-color:#12284c;
  display:none;
  padding-top:0;
  padding-bottom:1rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  transition:0.2s;
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu .menu-item--expanded > .menu{
    position:absolute;
    top:5.65rem;
    padding:1.5rem;
  }
}
@media print, screen and (max-width: 63.99875em){
  .menu--main > .menu .menu-item--expanded > .menu .menu-item{
    text-align:center;
  }
}
.menu--main > .menu .menu-item--expanded > .menu .menu-item--active-trail a{
  color:#ffffff;
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu .menu-item--expanded > .menu .menu-item--active-trail span:hover{
    color:#ffffff;
  }
  .menu--main > .menu .menu-item--expanded > .menu .menu-item--active-trail a{
    color:#ffffff;
    font-weight:400;
  }
}
.menu--main > .menu .menu-item--expanded > .menu .menu-item:last-child a{
  padding:0;
}
.menu--main > .menu .menu-item--expanded > .menu .menu-item a{
  white-space:pre-wrap;
  line-height:2rem;
  color:white;
  display:inline-block;
  text-align:center;
  padding-top:0;
  padding-bottom:1rem;
  padding-left:0;
  padding-right:0;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .menu--main > .menu .menu-item--expanded > .menu .menu-item a{
    text-align:left;}
  [dir="rtl"] .menu--main > .menu .menu-item--expanded > .menu .menu-item a{
    text-align:right;}
}
.menu--main > .menu .menu-item--expanded:hover > .menu{
  width:100%;
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu .menu-item--expanded:hover > .menu{
    display:block !important;
  }
}
.menu--main > .menu .menu-item--expanded.opened > .menu{
  display:block;
  transition:0.2s;
  width:100%;
}
@media print, screen and (min-width: 48em){
  .menu--main > .menu .menu-item--expanded.opened > .menu{
    display:none;
  }
}
@media print, screen and (min-width: 64em){
  .menu--main > .menu .menu-item--expanded.menu-item--active-trail > span:hover{
    color:#ffffff;
  }
}
.menu--main .site-search{
  transition:background-color, 0.2s;
  display:block;
  padding-top:1.1rem;
  padding-bottom:0;
  padding-left:1.1rem;
  padding-right:1.1rem;
  z-index:1;
  cursor:pointer;
}
@media print, screen and (max-width: 63.99875em){
  .menu--main .site-search{
    display:none;
  }
}
.menu--main .site-search svg{
  transition:fill, 0.2s;
  fill:#12284c;
}
.menu--main .site-search.active, .menu--main .site-search:hover{
  background-color:#26c9de;
}
.menu--main .site-search.active svg, .menu--main .site-search:hover svg{
  fill:#ffffff;
}
.menu--main .close-search{
  display:block;
  padding-top:1.1rem;
  padding-bottom:0;
  padding-left:1.1rem;
  padding-right:1.1rem;
  position:absolute;
  right:0;
  z-index:-1;
}
.menu--main .close-search svg{
  fill:rgba(18, 40, 76, 0);
}
.menu--main .close-search.active{
  z-index:99;
  top:6rem;
  cursor:pointer;
}
.menu--main .close-search.active svg{
  transition:fill, 0.2s;
  fill:rgba(18, 40, 76, 0.3);
}
.menu--main .close-search:hover svg{
  fill:rgba(18, 40, 76, 0.6);
}

li.menu-item.menu-item--expanded.opened span{
  background-color:#12284c;
  color:#ffffff;
  transition:0s;
}
@media print, screen and (min-width: 48em){
  li.menu-item.menu-item--expanded.opened span{
    background-color:#ffffff;
    color:#12284c;
  }
}

.menu--footer .menu{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  max-width:39.5rem;
}
@media print, screen and (min-width: 48em){
  .menu--footer .menu{
    flex-direction:row;
    flex-wrap:wrap;
  }
}
.menu--footer .menu .menu-item{
  max-width:13.6rem;
  width:100%;
  margin-bottom:0.5rem;
}
@media print, screen and (max-width: 47.99875em){
  .menu--footer .menu .menu-item:nth-child(5){
    margin-bottom:5.3rem;
  }
}
.menu--footer .menu .menu-item a{
  transition:color, 0.2s;
  font-family:"Open Sans", sans-serif;
  font-size:1.5rem;
  font-weight:400;
}
.menu--footer .menu .menu-item a:hover{
  color:#26c9de;
}

.block-about-branches .block-inner .menu{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
@media print, screen and (min-width: 64em){
  .block-about-branches .block-inner .menu{
    flex-direction:row;
  }
}
[dir="ltr"] .block-about-branches .block-inner .menu .menu-item{
  margin-left:0;}
[dir="rtl"] .block-about-branches .block-inner .menu .menu-item{
  margin-right:0;}
.block-about-branches .block-inner .menu .menu-item{
  margin-bottom:4.4rem;
  margin-left:0;
  margin-right:0;
  width:100%;
  text-align:center;
}
@media print, screen and (min-width: 64em){
  .block-about-branches .block-inner .menu .menu-item{
    max-width:20%;
    margin:0 1.2rem;
  }
}
.block-about-branches .block-inner .menu .menu-item a{
  display:flex;
  flex-direction:column;
  justify-content:center;
  transition:all, 0.2s;
  font-weight:700;
}
.block-about-branches .block-inner .menu .menu-item a:hover{
  color:#26c9de;
}
.block-about-branches .block-inner .menu .menu-item a .icon-holder{
  height:7.5rem;
  margin-bottom:1rem;
}
.block-about-branches .block-inner .menu .menu-item a .icon-holder img{
  width:7rem;
}

body.fixed{
  padding-top:11.6rem;
}
[dir="ltr"] body.fixed .block-country-navigation{
  left:0;}
[dir="rtl"] body.fixed .block-country-navigation{
  right:0;}
[dir="ltr"] body.fixed .block-country-navigation{
  right:0;}
[dir="rtl"] body.fixed .block-country-navigation{
  left:0;}
body.fixed .block-country-navigation{
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  box-shadow:0 0 1rem rgba(18, 40, 76, 0.3);
}

#block-news-page-lead{
  padding-bottom:5.5rem;
  line-height:3rem;
}

.view-news-events.view-display-id-lister{
  padding-bottom:10rem;
}

.block-views-exposed-filter-blocknews-events-lister{
  background-color:#ffffff;
  padding-bottom:5rem;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister{
    padding-bottom:10rem;
  }
}
.block-views-exposed-filter-blocknews-events-lister .block-inner{
  max-width:122.2rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.block-views-exposed-filter-blocknews-events-lister form{
  position:relative;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister form{
    max-width:88.5rem;
    margin-left:auto;
    margin-right:auto;
    padding:0 1.5rem;
  }
}
.block-views-exposed-filter-blocknews-events-lister form .news-events-markup{
  font-family:"Open Sans", sans-serif;
  font-size:1.8rem;
  margin-bottom:4.5rem;
  text-align:center;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search{
  display:flex;
  margin-top:0;
  margin-bottom:1rem;
  margin-left:auto;
  margin-right:auto;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister form .group--free-search{
    margin-top:0;
    margin-bottom:3.2rem;
    margin-left:auto;
    margin-right:auto;
    max-width:55rem;
  }
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search .js-form-type-textfield{
  float:none !important;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search .js-form-type-textfield{
  display:block;
  margin:0;
  width:100%;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search .js-form-type-textfield input{
  background-color:#efefef;
  border:0;
  padding:1rem;
  height:4.4rem;
  width:100%;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search input.form-submit{
  font-family:"Montserrat", sans-serif !important;
  text-decoration:none !important;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search input.form-submit{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:center;
  transition:all, 0.2s;
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0 2.1rem;
  background-color:transparent;
  min-height:4.8rem;
  min-height:4.4rem;
  height:4.4rem;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister form .group--free-search input.form-submit{
    padding:0 5.1rem;
  }
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search input.form-submit:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}
.block-views-exposed-filter-blocknews-events-lister form .group--free-search input[data-drupal-selector=edit-reset]{
  display:none;
}
.block-views-exposed-filter-blocknews-events-lister form .group--filters{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister form .group--filters{
    flex-direction:row;
  }
}
.block-views-exposed-filter-blocknews-events-lister form .group--filters .js-form-type-select{
  margin-bottom:1rem;
}
@media print, screen and (min-width: 48em){
  .block-views-exposed-filter-blocknews-events-lister form .group--filters .js-form-type-select{
    margin:0 1rem;
  }
}
.block-views-exposed-filter-blocknews-events-lister form .group--filters .js-form-type-select label{
  margin-bottom:0.2rem;
  display:block;
  font-weight:700;
  font-size:1.4rem;
  opacity:0.9;
}
.block-views-exposed-filter-blocknews-events-lister form .group--filters .js-form-type-select input,
.block-views-exposed-filter-blocknews-events-lister form .group--filters .js-form-type-select select{
  background-color:#efefef;
}

.info-line{
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
  padding:0 2.3rem;
  margin-bottom:1.5rem;
  min-height:5rem;
}
.info-line .views-field-field-city .field-content span:after,
.info-line .field--name-field-geographical-area .field-content span:after{
  content:",";
  margin-top:0;
  margin-bottom:0.3rem;
  margin-left:0;
  margin-right:0;
}
.info-line .views-field-field-country .field-content span:after,
.info-line .views-field-field-start-date .field-content span:after,
.info-line .field--name-field-date .field-content span:after{
  content:"|";
  margin:0 0.3rem;
}
[dir="ltr"] .info-line .views-field-field-start-date .field-content span:after,[dir="ltr"] 
.info-line .field--name-field-date .field-content span:after{
  margin-right:0.3rem;}
[dir="rtl"] .info-line .views-field-field-start-date .field-content span:after,[dir="rtl"] 
.info-line .field--name-field-date .field-content span:after{
  margin-left:0.3rem;}
[dir="ltr"] .info-line .views-field-field-start-date .field-content span:after,[dir="ltr"] 
.info-line .field--name-field-date .field-content span:after{
  margin-left:-0.1rem;}
[dir="rtl"] .info-line .views-field-field-start-date .field-content span:after,[dir="rtl"] 
.info-line .field--name-field-date .field-content span:after{
  margin-right:-0.1rem;}
.info-line .views-field-field-start-date .field-content span:after,
.info-line .field--name-field-date .field-content span:after{
  margin-top:0;
  margin-bottom:0;
}
.info-line .views-field-field-type,
.info-line .field--name-field-type{
  font-weight:700;
}

.country-line{
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
  justify-self:flex-end;
  margin-top:auto;
  margin-bottom:1.5rem;
  padding:0 2.3rem;
}
[dir="ltr"] .country-line .views-field:first-child .field-content:before,[dir="ltr"] 
.country-line .field:first-child .field__item:before{
  margin-right:0.5rem;}
[dir="rtl"] .country-line .views-field:first-child .field-content:before,[dir="rtl"] 
.country-line .field:first-child .field__item:before{
  margin-left:0.5rem;}
.country-line .views-field:first-child .field-content:before,
.country-line .field:first-child .field__item:before{
  content:"";
  display:inline-block;
  background-image:url("../../images/dist/icons/map-marker.svg");
  background-repeat:no-repeat;
  width:1.5rem;
  height:1.7rem;
  margin-bottom:-0.2rem;
}

.view-id-news_events.view-display-id-highlighted_block{
  padding:8.5rem 0;
  font-family:"Open Sans", sans-serif;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row{
  display:flex;
  flex-direction:column;
  background-color:transparent;
  margin-bottom:4rem;
  width:100%;
  overflow:hidden;
  border:0;
}
@media print, screen and (min-width: 48em){
  .view-id-news_events.view-display-id-highlighted_block .view-content .views-row{
    flex-direction:row;
  }
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .left-side,
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side{
  width:100%;
  margin-top:0;
  margin-bottom:2rem;
  margin-left:auto;
  margin-right:auto;
  max-width:60rem;
}
@media print, screen and (min-width: 48em){
  .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .left-side,
  .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side{
    margin:0;
  }
}
@media print, screen and (min-width: 48em){
  .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .left-side{
    width:40%;
  }
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .left-side .views-field-field-image{
  overflow:hidden;
  height:auto;
}
@media print, screen and (min-width: 48em){
  .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side{
    width:60%;
  }
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .left-side .views-field-field-image{
  margin-bottom:0;
  height:auto;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side{
    padding-left:6rem;}
  [dir="rtl"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side{
    padding-right:6rem;}
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .views-field-title,
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .views-field-field-start-date{
  padding:0;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .views-field-title a{
  height:auto;
  margin-bottom:2rem;
  font-size:2rem;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .views-field-field-lead{
  font-size:1.8rem;
  line-height:3rem;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line{
  display:flex;
  margin-bottom:0;
  padding:0;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after,
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-country .field-content span:after{
  content:"|";
  margin:0 0.3rem;
  font-weight:400;
}
[dir="ltr"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after{
  margin-left:0;}
[dir="rtl"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after{
  margin-right:0;}
[dir="ltr"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after{
  margin-right:0.3rem;}
[dir="rtl"] .view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after{
  margin-left:0.3rem;}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-start-date .field-content span:after{
  margin-top:0;
  margin-bottom:0;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-city,
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-country{
  font-weight:700;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row .right-side .info-line .views-field-field-type{
  font-weight:400;
}
.view-id-news_events.view-display-id-highlighted_block .view-content .views-row:last-child{
  margin-bottom:0;
}

.view-id-news_events.view-display-id-lister .view-header{
  display:none;
}

.view-content .views-row.Event .info-line .views-field-field-city,
.view-content .views-row.Event .info-line .views-field-field-country{
  display:block;
}
.paragraph--type--quotes .paragraph--inner > .field__items{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.paragraph--type--quotes .paragraph--inner > .field__items > .field__item{
  width:100%;
  margin-bottom:3.5rem;
}
@media print, screen and (min-width: 48em){
  .paragraph--type--quotes .paragraph--inner > .field__items > .field__item{
    width:50%;
  }
}

.paragraph--type--quote-paragraph{
  height:100%;
  padding:0 1.8rem;
}
.paragraph--type--quote-paragraph .paragraph--inner{
  transition:background-color, 0.2s;
  position:relative;
  height:100%;
  padding-top:9rem;
  padding-bottom:5rem;
  padding-left:5.5rem;
  padding-right:5.5rem;
  background-color:#f0f0f0;
  box-shadow:0 1rem 5rem rgba(0, 0, 0, 0.1);
  cursor:pointer;
}
.paragraph--type--quote-paragraph .paragraph--inner:hover{
  background-color:#ffffff;
}
[dir="ltr"] .paragraph--type--quote-paragraph .paragraph--inner:before{
  left:1.5rem;}
[dir="rtl"] .paragraph--type--quote-paragraph .paragraph--inner:before{
  right:1.5rem;}
.paragraph--type--quote-paragraph .paragraph--inner:before{
  content:"";
  display:block;
  position:absolute;
  top:4rem;
  width:3rem;
  height:3rem;
  opacity:0.5;
  background-image:url("../../images/dist/svg/quote-open.svg");
}
.paragraph--type--quote-paragraph .paragraph--inner .field--name-field-text{
  position:relative;
}
.paragraph--type--quote-paragraph .paragraph--inner .more-btn{
  position:relative;
}
[dir="ltr"] .paragraph--type--quote-paragraph .paragraph--inner .more-btn:after{
  left:100%;}
[dir="rtl"] .paragraph--type--quote-paragraph .paragraph--inner .more-btn:after{
  right:100%;}
[dir="ltr"] .paragraph--type--quote-paragraph .paragraph--inner .more-btn:after{
  padding-left:0.5rem;}
[dir="rtl"] .paragraph--type--quote-paragraph .paragraph--inner .more-btn:after{
  padding-right:0.5rem;}
.paragraph--type--quote-paragraph .paragraph--inner .more-btn:after{
  content:url("../../images/dist/icons/arrow-right.svg");
  position:absolute;
  top:0.1rem;
}
.paragraph--type--quote-paragraph.open .popup-text--wrapper{
  display:block;
}

.paragraph--type--media .paragraph--inner .field--type-image img{
  display:block;
  margin:0 auto;
}
.paragraph--type--media .paragraph--inner .field--name-field-media-oembed-video iframe{
  display:block;
  width:100%;
  min-height:40rem;
  margin:0 auto;
}
.paragraph--type--media .paragraph--inner .field--name-field-text{
  padding:1.5rem;
  background-color:#e2e2e2;
  font-size:1.4rem;
  line-height:2.5rem;
}

.paragraph--type--cta{
  text-align:center;
}
.paragraph--type--cta .field--name-field-title + .field--name-field-link,
.paragraph--type--cta .field--name-field-text + .field--name-field-link{
  margin-top:4rem;
}
.paragraph--type--cta .field--name-field-link{
  display:flex;
  justify-content:center;
}
.paragraph--type--cta .field--name-field-link a{
  font-family:"Montserrat", sans-serif !important;
  text-decoration:none !important;
}
.paragraph--type--cta .field--name-field-link a{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:center;
  transition:all, 0.2s;
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0 2.1rem;
  background-color:transparent;
  min-height:4.8rem;
}
@media print, screen and (min-width: 48em){
  .paragraph--type--cta .field--name-field-link a{
    padding:0 5.1rem;
  }
}
.paragraph--type--cta .field--name-field-link a:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}

.paragraph--type--media-document{
  font-family:"Montserrat", sans-serif;
}
.paragraph--type--media-document .paragraph--inner{
  position:relative;
  padding-top:3rem;
}
[dir="ltr"] .paragraph--type--media-document .field--name-field-title{
  margin-left:1.5rem;}
[dir="rtl"] .paragraph--type--media-document .field--name-field-title{
  margin-right:1.5rem;}
.paragraph--type--media-document .field--name-field-title{
  font-family:"Montserrat", sans-serif !important;
}
.paragraph--type--media-document .field--name-field-title{
  font-size:3.6rem;
  font-weight:700;
  color:#ffffff;
  background-color:#12284c;
  padding:0.2rem 0;
  margin-top:-2.3rem;
  box-shadow:2.6rem 0 0 #12284c, -1.9rem 0 0 #12284c;
  -webkit-box-decoration-break:clone;
          box-decoration-break:clone;
  line-height:5rem;
  position:absolute;
  top:-6rem;
  padding:0;
}
.paragraph--type--media-document .field--name-field-media-entities{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0 -1.5rem;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item{
  width:100%;
  max-width:23.4rem;
  margin-top:0;
  margin-bottom:3rem;
  margin-left:1rem;
  margin-right:1rem;
}
@media print, screen and (min-width: 64em){
  .paragraph--type--media-document .field--name-field-media-entities > .field__item{
    max-width:calc(25% - 3rem);
    margin-top:0;
    margin-bottom:3rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
  }
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  height:100%;
  min-height:47rem;
  border:0.1rem solid #efefef;
  background-color:#ffffff;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--type-image{
  position:relative;
  margin-bottom:1.3rem;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-field-date{
  margin-bottom:1.6rem;
  padding:0 2.3rem;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-name,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-field-short-title{
  max-height:9.5rem;
  margin-bottom:1.6rem;
  overflow:hidden;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-name,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-field-short-title{
  padding:0 2.7rem;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn a,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-name a,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-field-short-title a{
  transition:all, 0.2s;
  display:block;
  font-weight:700;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn a:hover,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-name a:hover,
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .field--name-field-short-title a:hover{
  color:#26c9de;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn{
  transition:all, 0.2s;
  justify-self:flex-end;
  margin-top:auto;
  border-bottom:1rem solid #ffffff;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn:hover{
  border-color:#26c9de;
}
.paragraph--type--media-document .field--name-field-media-entities > .field__item .media .readmore-btn a{
  margin-bottom:-1rem;
  padding-bottom:2rem;
  font-style:italic;
}
.paragraph--type--media-document .field--name-field-link{
  display:flex;
  justify-content:center;
  padding-top:3rem;
}
.paragraph--type--media-document .field--name-field-link a{
  font-family:"Montserrat", sans-serif !important;
  text-decoration:none !important;
}
.paragraph--type--media-document .field--name-field-link a{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:center;
  transition:all, 0.2s;
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0 2.1rem;
  background-color:transparent;
  min-height:4.8rem;
}
@media print, screen and (min-width: 48em){
  .paragraph--type--media-document .field--name-field-link a{
    padding:0 5.1rem;
  }
}
.paragraph--type--media-document .field--name-field-link a:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}

.paragraph--type--tab-group-wrapper{
  padding-top:5rem;
}
.paragraph--type--tab-group-wrapper .tab-group--content__wrapper{
  position:relative;
}
.paragraph--type--tab-group-wrapper .tab-group--content__wrapper .tab-group--content{
  display:none;
}
.paragraph--type--tab-group-wrapper .tab-group--content__wrapper .tab-group--content.is-active{
  display:block;
}
@media print, screen and (min-width: 48em){
  .paragraph--type--tab-group-wrapper .tab-group--content__wrapper .tab-group--content .paragraph--type--text-media .left{
    width:25%;
  }
  .paragraph--type--tab-group-wrapper .tab-group--content__wrapper .tab-group--content .paragraph--type--text-media .right{
    width:75%;
  }
}

.paragraph--type--view{
  font-family:"Montserrat", sans-serif;
  padding:0;
}
.paragraph--type--view .block-views{
  padding-top:0;
  padding-bottom:7.5rem;
  padding-left:0;
  padding-right:0;
}
.paragraph--type--view .block-views .title-holder{
  padding:0 !important;
}
.paragraph--type--view .view-footer{
  padding-bottom:0 !important;
}
[dir="ltr"] .paragraph--type--view .view-header{
  margin-left:1.5rem;}
[dir="rtl"] .paragraph--type--view .view-header{
  margin-right:1.5rem;}
.paragraph--type--view .view-header{
  font-family:"Montserrat", sans-serif !important;
}
.paragraph--type--view .view-header{
  font-size:3.6rem;
  font-weight:700;
  color:#ffffff;
  background-color:#12284c;
  padding:0.2rem 0;
  margin-top:-2.3rem;
  box-shadow:2.6rem 0 0 #12284c, -1.9rem 0 0 #12284c;
  -webkit-box-decoration-break:clone;
          box-decoration-break:clone;
  line-height:5rem;
  display:inline-block;
}

.block-about-branches nav{
  padding-top:10rem;
}

.paragraph--type--timeline-wrapper > .paragraph--inner > .field--name-field-description,
.paragraph--type--popup-wrapper > .paragraph--inner > .field--name-field-description{
  margin-bottom:5rem;
}

.popup-text--wrapper{
  display:none;
  position:fixed;
  z-index:999;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter:blur(0.3rem);
          backdrop-filter:blur(0.3rem);
}
[dir="ltr"] .popup-text--wrapper .field--type-string-long{
  left:50%;}
[dir="rtl"] .popup-text--wrapper .field--type-string-long{
  right:50%;}
.popup-text--wrapper .field--type-string-long{
  position:fixed;
  z-index:1001;
  top:50%;
  width:100%;
  margin:0;
  padding:5rem;
  transform:translate(-50%, -50%);
  background-color:#ffffff;
  box-shadow:0 1.5rem 1.2rem 0.4rem rgba(0, 0, 0, 0.15);
}
@media print, screen and (min-width: 48em){
  .popup-text--wrapper .field--type-string-long{
    max-width:30vw;
  }
}
[dir="ltr"] .popup-text--wrapper .field--type-string-long .popup-text--close{
  right:1.3rem;}
[dir="rtl"] .popup-text--wrapper .field--type-string-long .popup-text--close{
  left:1.3rem;}
.popup-text--wrapper .field--type-string-long .popup-text--close{
  position:absolute;
  top:1.3rem;
  width:2.9rem;
  height:2.9rem;
  padding-top:0.2rem;
  border-radius:50%;
  background-color:#333;
  text-align:center;
  cursor:pointer;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .popup-text--wrapper .field--type-string-long .popup-text--close{
    right:-1.3rem;}
  [dir="rtl"] .popup-text--wrapper .field--type-string-long .popup-text--close{
    left:-1.3rem;}
  .popup-text--wrapper .field--type-string-long .popup-text--close{
    top:-1.3rem;
  }
}
.popup-text--wrapper.open{
  display:block;
}

.paragraph--type--popup-text .field--name-field-title{
  font-size:1.8rem;
}
.paragraph--type--popup-text .paragraph--inner.open .popup-text--wrapper{
  display:block;
}
.paragraph--type--popup-text.has-popup{
  transition:all, 0.2s;
  text-decoration:underline;
  cursor:pointer;
}
.paragraph--type--popup-text.has-popup:hover{
  text-decoration:none;
}

.paragraph--type--timeline{
  position:relative;
  padding-top:0;
  padding-bottom:10rem;
  padding-left:3rem;
  padding-right:3rem;
}
.paragraph--type--timeline .paragraph--inner{
  display:flex;
  -font-box-pack:justify;
  justify-content:space-between;
  padding-bottom:0.4rem;
  border-bottom:0.2rem solid #26c9de;
}
.paragraph--type--timeline .paragraph--inner .field--name-field-left-title,
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title,
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title{
  position:relative;
  font-size:1.8rem;
  font-weight:700;
}
[dir="ltr"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title:after,[dir="ltr"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title:after,[dir="ltr"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title:after{
  right:0;}
[dir="rtl"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title:after,[dir="rtl"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title:after,[dir="rtl"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title:after{
  left:0;}
[dir="ltr"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title:after,[dir="ltr"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title:after,[dir="ltr"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title:after{
  left:0;}
[dir="rtl"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title:after,[dir="rtl"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title:after,[dir="rtl"] 
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title:after{
  right:0;}
.paragraph--type--timeline .paragraph--inner .field--name-field-left-title:after,
.paragraph--type--timeline .paragraph--inner .field--name-field-middle-title:after,
.paragraph--type--timeline .paragraph--inner .field--name-field-right-title:after{
  content:"";
  display:block;
  position:absolute;
  bottom:-0.8rem;
  width:0.6rem;
  height:0.6rem;
  margin:0 auto;
  border-radius:0.3rem;
  background-color:#12284c;
}
[dir="ltr"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title{
  margin-left:2rem;}
[dir="rtl"] .paragraph--type--timeline .paragraph--inner .field--name-field-left-title{
  margin-right:2rem;}
[dir="ltr"] .paragraph--type--timeline .paragraph--inner .field--name-field-right-title{
  margin-right:2rem;}
[dir="rtl"] .paragraph--type--timeline .paragraph--inner .field--name-field-right-title{
  margin-left:2rem;}
[dir="ltr"] .paragraph--type--timeline .field--name-field-timeline-text{
  left:50%;}
[dir="rtl"] .paragraph--type--timeline .field--name-field-timeline-text{
  right:50%;}
.paragraph--type--timeline .field--name-field-timeline-text{
  position:absolute;
  top:1.5rem;
  margin:0 auto;
  padding:0 1rem;
  transform:translate(-50%, 0);
  background-color:#efefef;
}
.paragraph--type--timeline.left-popup .field--name-field-left-title, .paragraph--type--timeline.middle-popup .field--name-field-middle-title, .paragraph--type--timeline.right-popup .field--name-field-right-title{
  transition:color, 0.2s;
  cursor:pointer;
}
.paragraph--type--timeline.left-popup .field--name-field-left-title:hover, .paragraph--type--timeline.middle-popup .field--name-field-middle-title:hover, .paragraph--type--timeline.right-popup .field--name-field-right-title:hover{
  color:#26c9de;
}

.view-rcrc-documents-highlighted{
  padding-top:5rem;
  padding-bottom:6rem;
  padding-left:1rem;
  padding-right:1rem;
}
@media print, screen and (min-width: 48em){
  .view-rcrc-documents-highlighted{
    padding-top:6rem;
    padding-bottom:11.2rem;
    padding-left:0;
    padding-right:0;
  }
}
.view-rcrc-documents-highlighted .view-content{
  flex-direction:column !important;
  flex-wrap:nowrap !important;
  padding-top:0 !important;
}
.view-rcrc-documents-highlighted .view-content{
  position:relative;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title img{
  margin-right:1.5rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title img{
  margin-left:1.5rem;}
.view-rcrc-documents-highlighted .view-content .group-title img{
  width:100%;
  max-width:5rem;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title h3{
  text-align:left;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title h3{
  text-align:right;}
.view-rcrc-documents-highlighted .view-content .group-title h3{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:flex-start;
  background-color:#ffffff;
  height:8rem;
  cursor:pointer;
  padding:0 2.5rem;
  font-size:1.6rem;
  font-family:"Open Sans", sans-serif;
  width:100%;
  color:#12284c;
  position:relative;
  line-height:2.2rem;
}
@media print, screen and (max-width: 47.99875em){
  .view-rcrc-documents-highlighted .view-content .group-title h3:after{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    content:"";
    height:0.2rem;
    width:calc(100% - 6.6rem);
    background-color:#26c9de;
    display:block;
  }
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-left:2.8rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-right:2.8rem;}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-right:3.6rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-left:3.6rem;}
.view-rcrc-documents-highlighted .view-content .group-holder{
  background-color:#ffffff;
  margin-bottom:1.3rem;
  padding-top:2.9rem;
  padding-bottom:2.9rem;
  overflow:hidden;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row{
  margin-bottom:3.5rem;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row:last-child{
  margin-bottom:0;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  padding-left:6.1rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  padding-right:6.1rem;}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  display:inline-block;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a{
  transition:color, 0.2s;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  line-height:2.2rem;
  position:relative;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a:hover{
  color:#26c9de;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  left:-6.3rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  right:-6.3rem;}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  content:url("../../images/dist/icons/download.svg");
  position:absolute;
  top:-0.4rem;
  width:4rem;
  height:3.3rem;
  display:block;
}
@media print, screen and (min-width: 48em){
  .view-rcrc-documents-highlighted .view-content .group-title{
    width:30.5rem;
    margin-bottom:0.8rem;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title h3{
    border-left:0.6rem solid #dadada;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title h3{
    border-right:0.6rem solid #dadada;}
  .view-rcrc-documents-highlighted .view-content .group-title h3{
    transition:color, 0.2s;
    background-color:#dadada;
    color:#12284c;
    font-size:1.8rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-title:hover h3{
    color:#26c9de;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    border-left-color:#26c9de;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    border-right-color:#26c9de;}
  .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    color:#26c9de;
    background-color:#ffffff;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
    left:30.5rem;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
    right:30.5rem;}
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
    right:0;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
    left:0;}
  .view-rcrc-documents-highlighted .view-content .group-holder{
    position:absolute;
    top:0;
    bottom:0;
    margin-bottom:0;
    padding:6.2rem 7rem;
    display:none;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder .document-row{
    max-width:51rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder .document-row a{
    font-size:1.8rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder.active{
    display:block;
    overflow-y:auto;
  }
}
.page-node-type-page .block-page-title-block{
  margin-top:5rem;
  margin-bottom:5rem;
}
@media print, screen and (min-width: 48em){
  .page-node-type-page .block-page-title-block{
    margin-top:6rem;
    margin-bottom:6rem;
  }
}
.page-node-type-page .block-page-title-block .block-inner{
  max-width:88.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.page-node-type-page .block-page-title-block .page-title{
  text-align:center;
  line-height:1.225;
}

.paragraph .block-holder .block-inner{
  position:relative;
}
.paragraph .block-holder .block-inner .title-holder{
  z-index:10;
  position:absolute;
  left:0;
  right:0;
  top:-2.5rem;
  margin:0;
}
[dir="ltr"] .paragraph .block-holder .block-inner .title-holder span{
  margin-left:1.5rem;}
[dir="rtl"] .paragraph .block-holder .block-inner .title-holder span{
  margin-right:1.5rem;}
.paragraph .block-holder .block-inner .title-holder span{
  font-family:"Montserrat", sans-serif !important;
}
.paragraph .block-holder .block-inner .title-holder span{
  font-size:3.6rem;
  font-weight:700;
  color:#ffffff;
  background-color:#12284c;
  padding:0.2rem 0;
  margin-top:-2.3rem;
  box-shadow:2.6rem 0 0 #12284c, -1.9rem 0 0 #12284c;
  -webkit-box-decoration-break:clone;
          box-decoration-break:clone;
  line-height:5rem;
}

.field--label-inline{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  font-family:"Open Sans", sans-serif;
}
@media print, screen and (min-width: 48em){
  .field--label-inline{
    flex-direction:row;
  }
}
.field--label-inline .field__label{
  font-weight:700;
}
.field--label-inline .field__label:after{
  content:": ";
}
.views-field-field-media-thumbnail:before,
.views-field-field-image:before{
  content:"";
  box-shadow:inset 0 0 3rem rgba(0, 0, 0, 0.8);
  background-image:url("../../images/dist/icons/no-img.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:25%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.2;
}
.views-field-field-media-thumbnail .field-content,
.views-field-field-image .field-content{
  position:relative;
}
.u-show{
  visibility:visible !important;
}
.u-hide{
  visibility:hidden !important;
}
.u-visually-hide{
  clip:rect(1px 1px 1px 1px) !important;
  clip:rect(1px, 1px, 1px, 1px) !important;
  height:1px !important;
  overflow:hidden !important;
  position:absolute !important;
  width:1px !important;
}
.u-visually-hide--focusable:active, .u-visually-hide--focusable:focus{
  position:static !important;
  width:auto !important;
  height:auto !important;
  overflow:visible !important;
  clip:auto !important;
  white-space:normal !important;
}