@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.view-rcrc-documents-highlighted{
  padding-top:5rem;
  padding-bottom:6rem;
  padding-left:1rem;
  padding-right:1rem;
}
@media print, screen and (min-width: 48em){
  .view-rcrc-documents-highlighted{
    padding-top:6rem;
    padding-bottom:11.2rem;
    padding-left:0;
    padding-right:0;
  }
}
.view-rcrc-documents-highlighted .view-content{
  flex-direction:column !important;
  flex-wrap:nowrap !important;
  padding-top:0 !important;
}
.view-rcrc-documents-highlighted .view-content{
  position:relative;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title img{
  margin-right:1.5rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title img{
  margin-left:1.5rem;}
.view-rcrc-documents-highlighted .view-content .group-title img{
  width:100%;
  max-width:5rem;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title h3{
  text-align:left;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title h3{
  text-align:right;}
.view-rcrc-documents-highlighted .view-content .group-title h3{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:flex-start;
  background-color:#ffffff;
  height:8rem;
  cursor:pointer;
  padding:0 2.5rem;
  font-size:1.6rem;
  font-family:"Open Sans", sans-serif;
  width:100%;
  color:#12284c;
  position:relative;
  line-height:2.2rem;
}
@media print, screen and (max-width: 47.99875em){
  .view-rcrc-documents-highlighted .view-content .group-title h3:after{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    content:"";
    height:0.2rem;
    width:calc(100% - 6.6rem);
    background-color:#26c9de;
    display:block;
  }
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-left:2.8rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-right:2.8rem;}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-right:3.6rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
  padding-left:3.6rem;}
.view-rcrc-documents-highlighted .view-content .group-holder{
  background-color:#ffffff;
  margin-bottom:1.3rem;
  padding-top:2.9rem;
  padding-bottom:2.9rem;
  overflow:hidden;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row{
  margin-bottom:3.5rem;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row:last-child{
  margin-bottom:0;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  padding-left:6.1rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  padding-right:6.1rem;}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row .field-content{
  display:inline-block;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a{
  transition:color, 0.2s;
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  line-height:2.2rem;
  position:relative;
}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a:hover{
  color:#26c9de;
}
[dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  left:-6.3rem;}
[dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  right:-6.3rem;}
.view-rcrc-documents-highlighted .view-content .group-holder .document-row a:before{
  content:url("../../images/dist/icons/download.svg");
  position:absolute;
  top:-0.4rem;
  width:4rem;
  height:3.3rem;
  display:block;
}
@media print, screen and (min-width: 48em){
  .view-rcrc-documents-highlighted .view-content .group-title{
    width:30.5rem;
    margin-bottom:0.8rem;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title h3{
    border-left:0.6rem solid #dadada;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title h3{
    border-right:0.6rem solid #dadada;}
  .view-rcrc-documents-highlighted .view-content .group-title h3{
    transition:color, 0.2s;
    background-color:#dadada;
    color:#12284c;
    font-size:1.8rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-title:hover h3{
    color:#26c9de;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    border-left-color:#26c9de;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    border-right-color:#26c9de;}
  .view-rcrc-documents-highlighted .view-content .group-title.active h3{
    color:#26c9de;
    background-color:#ffffff;
  }
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
    left:30.5rem;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
    right:30.5rem;}
  [dir="ltr"] .view-rcrc-documents-highlighted .view-content .group-holder{
    right:0;}
  [dir="rtl"] .view-rcrc-documents-highlighted .view-content .group-holder{
    left:0;}
  .view-rcrc-documents-highlighted .view-content .group-holder{
    position:absolute;
    top:0;
    bottom:0;
    margin-bottom:0;
    padding:6.2rem 7rem;
    display:none;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder .document-row{
    max-width:51rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder .document-row a{
    font-size:1.8rem;
  }
  .view-rcrc-documents-highlighted .view-content .group-holder.active{
    display:block;
    overflow-y:auto;
  }
}
.page-node-type-page .block-page-title-block{
  margin-top:5rem;
  margin-bottom:5rem;
}
@media print, screen and (min-width: 48em){
  .page-node-type-page .block-page-title-block{
    margin-top:6rem;
    margin-bottom:6rem;
  }
}
.page-node-type-page .block-page-title-block .block-inner{
  max-width:88.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.page-node-type-page .block-page-title-block .page-title{
  text-align:center;
  line-height:1.225;
}

.paragraph .block-holder .block-inner{
  position:relative;
}
.paragraph .block-holder .block-inner .title-holder{
  z-index:10;
  position:absolute;
  left:0;
  right:0;
  top:-2.5rem;
  margin:0;
}
[dir="ltr"] .paragraph .block-holder .block-inner .title-holder span{
  margin-left:1.5rem;}
[dir="rtl"] .paragraph .block-holder .block-inner .title-holder span{
  margin-right:1.5rem;}
.paragraph .block-holder .block-inner .title-holder span{
  font-family:"Montserrat", sans-serif !important;
}
.paragraph .block-holder .block-inner .title-holder span{
  font-size:3.6rem;
  font-weight:700;
  color:#ffffff;
  background-color:#12284c;
  padding:0.2rem 0;
  margin-top:-2.3rem;
  box-shadow:2.6rem 0 0 #12284c, -1.9rem 0 0 #12284c;
  -webkit-box-decoration-break:clone;
          box-decoration-break:clone;
  line-height:5rem;
}

.field--label-inline{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  font-family:"Open Sans", sans-serif;
}
@media print, screen and (min-width: 48em){
  .field--label-inline{
    flex-direction:row;
  }
}
.field--label-inline .field__label{
  font-weight:700;
}
.field--label-inline .field__label:after{
  content:": ";
}
.views-field-field-media-thumbnail:before,
.views-field-field-image:before{
  content:"";
  box-shadow:inset 0 0 3rem rgba(0, 0, 0, 0.8);
  background-image:url("../../images/dist/icons/no-img.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:25%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.2;
}
.views-field-field-media-thumbnail .field-content,
.views-field-field-image .field-content{
  position:relative;
}
.u-show{
  visibility:visible !important;
}
.u-hide{
  visibility:hidden !important;
}
.u-visually-hide{
  clip:rect(1px 1px 1px 1px) !important;
  clip:rect(1px, 1px, 1px, 1px) !important;
  height:1px !important;
  overflow:hidden !important;
  position:absolute !important;
  width:1px !important;
}
.u-visually-hide--focusable:active, .u-visually-hide--focusable:focus{
  position:static !important;
  width:auto !important;
  height:auto !important;
  overflow:visible !important;
  clip:auto !important;
  white-space:normal !important;
}