@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
@media print, screen and (max-width: 47.99875em){
  #toolbar-administration #admin-toolbar-search-tab{
    display:none;
  }
}
@media print, screen and (max-width: 63.99875em){
  header{
    position:sticky;
    top:0;
    z-index:20;
  }
}

.region-header,
.region-navigation{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  position:relative;
}

.region-navigation{
  padding:0;
  z-index:20;
}

[dir="ltr"] .region-header{
  padding-right:1.5rem;}

[dir="rtl"] .region-header{
  padding-left:1.5rem;}

.region-header{
  display:flex;
  flex-direction:row;
  -font-box-pack:justify;
  justify-content:space-between;
  -mox-box-align:center;
  align-items:center;
  z-index:19;
  background-color:#ffffff;
  height:5.6rem;
  margin:0 auto;
}
@media print, screen and (max-width: 47.99875em){
  .region-header{
    position:relative;
  }
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .region-header{
    padding-left:1.4rem;}
  [dir="rtl"] .region-header{
    padding-right:1.4rem;}
  [dir="ltr"] .region-header{
    padding-right:5.7rem;}
  [dir="rtl"] .region-header{
    padding-left:5.7rem;}
  .region-header{
    height:8.7rem;
  }
}
@media print, screen and (min-width: 64em){
  .region-header{
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2rem;
  }
}
body:not(.js-menu-is-open) .region-header{
  z-index:22;
}

[dir="ltr"] .block-system-branding-block{
  padding-left:0;}

[dir="rtl"] .block-system-branding-block{
  padding-right:0;}

.block-system-branding-block{
  width:calc(100% - 5rem);
  line-height:1;
  height:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .block-system-branding-block{
    padding-left:1rem;}
  [dir="rtl"] .block-system-branding-block{
    padding-right:1rem;}
  .block-system-branding-block{
    width:30rem;
  }
}
.block-system-branding-block .block-inner{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content:center;
}

a.site-logo img{
  border-bottom:0;
  margin-bottom:0;
  width:10rem;
  padding-top:0;
  padding-bottom:0;
}
@media print, screen and (min-width: 48em){
  a.site-logo img{
    border-bottom:solid 0.2rem lightgray;
    margin-bottom:0.5rem;
    padding-bottom:1rem;
    padding-top:0.8rem;
    width:13rem;
  }
}

.site-name{
  margin-top:0.5em;
}
.site-name a{
  font-family:"Montserrat", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1.5rem;
  color:#000;
  text-decoration:none;
  font-style:italic;
  font-weight:500;
}