@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
@media print, screen and (max-width: 47.99875em){
  #toolbar-administration #admin-toolbar-search-tab{
    display:none;
  }
}
@media print, screen and (max-width: 63.99875em){
  header{
    position:sticky;
    top:0;
    z-index:20;
  }
}

.region-header,
.region-navigation{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  position:relative;
}

.region-navigation{
  padding:0;
  z-index:20;
}

[dir="ltr"] .region-header{
  padding-right:1.5rem;}

[dir="rtl"] .region-header{
  padding-left:1.5rem;}

.region-header{
  display:flex;
  flex-direction:row;
  -font-box-pack:justify;
  justify-content:space-between;
  -mox-box-align:center;
  align-items:center;
  z-index:19;
  background-color:#ffffff;
  height:5.6rem;
  margin:0 auto;
}
@media print, screen and (max-width: 47.99875em){
  .region-header{
    position:relative;
  }
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .region-header{
    padding-left:1.4rem;}
  [dir="rtl"] .region-header{
    padding-right:1.4rem;}
  [dir="ltr"] .region-header{
    padding-right:5.7rem;}
  [dir="rtl"] .region-header{
    padding-left:5.7rem;}
  .region-header{
    height:8.7rem;
  }
}
@media print, screen and (min-width: 64em){
  .region-header{
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2rem;
  }
}
body:not(.js-menu-is-open) .region-header{
  z-index:22;
}
[dir="ltr"] .region-header .block-dropdown-language{
  margin-left:auto;}
[dir="rtl"] .region-header .block-dropdown-language{
  margin-right:auto;}
@media print, screen and (max-width: 47.99875em){
  [dir="ltr"] .region-header .block-dropdown-language::after{
    left:0;}
  [dir="rtl"] .region-header .block-dropdown-language::after{
    right:0;}
  [dir="ltr"] .region-header .block-dropdown-language::after{
    right:0;}
  [dir="rtl"] .region-header .block-dropdown-language::after{
    left:0;}
  .region-header .block-dropdown-language::after{
    content:"";
    position:absolute;
    bottom:-3.4rem;
    width:100%;
    height:3.4rem;
    background:#ffffff;
  }
}
[dir="ltr"] .region-header .block-dropdown-language .block-inner{
  margin-right:4rem;}
[dir="rtl"] .region-header .block-dropdown-language .block-inner{
  margin-left:4rem;}
[dir="ltr"] .region-header .block-dropdown-language .block-inner{
  margin-left:0;}
[dir="rtl"] .region-header .block-dropdown-language .block-inner{
  margin-right:0;}
.region-header .block-dropdown-language .block-inner{
  margin-top:1rem;
  margin-bottom:0;
  font-family:"Open Sans", sans-serif;
  font-weight:700;
  align-self:flex-start;
  cursor:pointer;
  min-width:11rem;
  -webkit-user-select:none;
      -ms-user-select:none;
          user-select:none;
  font-size:1.8rem;
}
@media print, screen and (max-width: 47.99875em){
  [dir="ltr"] .region-header .block-dropdown-language .block-inner{
    right:1.5rem;}
  [dir="rtl"] .region-header .block-dropdown-language .block-inner{
    left:1.5rem;}
  [dir="ltr"] .region-header .block-dropdown-language .block-inner{
    margin-right:0;}
  [dir="rtl"] .region-header .block-dropdown-language .block-inner{
    margin-left:0;}
  .region-header .block-dropdown-language .block-inner{
    position:absolute;
    bottom:0;
    margin-top:0;
  }
}
body:not(.js-menu-is-open) .region-header .block-dropdown-language .block-inner{
  z-index:31;
}
.region-header .block-dropdown-language .dropbutton-multiple{
  min-width:11rem;
}
.region-header .block-dropdown-language .dropbutton-multiple.open{
  position:absolute;
}
@media print, screen and (min-width: 48em){
  .region-header .block-dropdown-language .dropbutton-multiple.open{
    top:-1.7rem;
  }
}
.region-header .block-dropdown-language .dropbutton-widget{
  border:0;
}
.region-header .block-dropdown-language .dropbutton-widget, .js[dir=rtl] .region-header .block-dropdown-language .dropbutton-widget{
  padding:0;
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton{
  border:0;
}
@media print, screen and (max-width: 47.99875em){
  .region-header .block-dropdown-language .dropbutton-widget .dropbutton{
    position:absolute;
    width:100%;
  }
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton .dropbutton-action:first-child{
  background-image:url("../images/dist/svg/angle-down-solid.svg");
  background-repeat:no-repeat;
  background-size:1rem;
  margin-bottom:1rem;
}
[dir=ltr] .region-header .block-dropdown-language .dropbutton-widget .dropbutton .dropbutton-action:first-child{
  background-position:right center;
}
[dir=rtl] .region-header .block-dropdown-language .dropbutton-widget .dropbutton .dropbutton-action:first-child{
  background-position:left center;
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton .secondary-action{
  border-top:0;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  background-color:#ebebeb;
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton .secondary-action:hover{
  background-color:#12284c;
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton .secondary-action:hover a{
  color:#ffffff;
}
.region-header .block-dropdown-language .dropbutton-widget .dropbutton .dropbutton-toggle{
  display:none !important;
}

[dir="ltr"] .block-system-branding-block{
  padding-left:0;}

[dir="rtl"] .block-system-branding-block{
  padding-right:0;}

.block-system-branding-block{
  width:calc(100% - 5rem);
  line-height:1;
  height:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .block-system-branding-block{
    padding-left:1rem;}
  [dir="rtl"] .block-system-branding-block{
    padding-right:1rem;}
  .block-system-branding-block{
    width:30rem;
  }
}
.block-system-branding-block .block-inner{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content:center;
}

a.site-logo img{
  border-bottom:0;
  margin-bottom:0;
  width:10rem;
  padding-top:0;
  padding-bottom:0;
}
@media print, screen and (min-width: 48em){
  a.site-logo img{
    border-bottom:solid 0.2rem lightgray;
    margin-bottom:0.5rem;
    padding-bottom:1rem;
    padding-top:0.8rem;
    width:13rem;
  }
}

.site-name{
  margin-top:0.5em;
}
.site-name a{
  font-family:"Montserrat", sans-serif;
  font-size:1.5rem;
  color:#000;
  text-decoration:none;
  font-style:italic;
  font-weight:500;
}