@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
select.form-select,
input[data-drupal-selector=edit-search-api-fulltext]{
  font-family:"Open Sans", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border:0;
  padding:0.9rem 1.1rem;
}

select.form-select{
  cursor:pointer;
}

input:focus,
select:focus{
  outline:none;
}

[dir="ltr"] .form-type-textfield,[dir="ltr"] 
.form-type-email,[dir="ltr"] 
.form-type-entity-autocomplete,[dir="ltr"] 
.form-type-select,[dir="ltr"] 
.form-type-textarea,[dir="ltr"] 
.form-type-password{
  margin-right:0;}

[dir="rtl"] .form-type-textfield,[dir="rtl"] 
.form-type-email,[dir="rtl"] 
.form-type-entity-autocomplete,[dir="rtl"] 
.form-type-select,[dir="rtl"] 
.form-type-textarea,[dir="rtl"] 
.form-type-password{
  margin-left:0;}

.form-type-textfield,
.form-type-email,
.form-type-entity-autocomplete,
.form-type-select,
.form-type-textarea,
.form-type-password{
  width:100%;
}
.form-type-textfield label,
.form-type-email label,
.form-type-entity-autocomplete label,
.form-type-select label,
.form-type-textarea label,
.form-type-password label{
  margin-bottom:0.6rem;
  display:block;
  font-weight:700;
  font-size:1.8rem;
  opacity:0.9;
  color:#12284c;
  text-decoration:none;
  line-height:3rem;
}
.form-type-textfield select,
.form-type-textfield input,
.form-type-email select,
.form-type-email input,
.form-type-entity-autocomplete select,
.form-type-entity-autocomplete input,
.form-type-select select,
.form-type-select input,
.form-type-textarea select,
.form-type-textarea input,
.form-type-password select,
.form-type-password input{
  background-color:#efefef;
  border:0;
  padding:1rem;
  height:4.4rem;
  width:100%;
}
.form-type-textfield textarea,
.form-type-email textarea,
.form-type-entity-autocomplete textarea,
.form-type-select textarea,
.form-type-textarea textarea,
.form-type-password textarea{
  background-color:#efefef;
  border:0;
  padding:1rem;
  width:100%;
  height:31.5rem;
}

input.form-submit{
  font-family:"Montserrat", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-decoration:none !important;
}

input.form-submit{
  display:flex;
  -mox-box-align:center;
  align-items:center;
  justify-content:center;
  transition:all, 0.2s;
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0 2.1rem;
  background-color:transparent;
  min-height:4.8rem;
}
@media print, screen and (min-width: 48em){
  input.form-submit{
    padding:0 5.1rem;
  }
}
input.form-submit:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}

input.form-submit.js-hide{
  font-family:"Montserrat", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-decoration:none !important;
}

input.form-submit.js-hide{
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0.8rem 2rem;
  padding:0 3.5rem;
}
@media print, screen and (min-width: 48em){
  input.form-submit.js-hide{
    padding:0.8rem 3.5rem;
  }
}
input.form-submit.js-hide:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}

.page-node-type-page .block-views-exposed-filter-blockdisaster-law-database-main{
  background-color:#ffffff;
  padding-top:5.5rem;
  padding-bottom:5rem;
}
.page-node-type-page .block-views-exposed-filter-blockdisaster-law-database-main .block-inner{
  max-width:68.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.page-node-type-page .block-views-exposed-filter-blockdisaster-law-database-main .block-inner .form--inline{
  display:flex;
  justify-content:flex-center;
  width:100%;
}
.page-node-type-page .block-views-exposed-filter-blockdisaster-law-database-main .block-inner .form--inline label{
  display:none;
}
.page-node-type-page .block-views-exposed-filter-blockdisaster-law-database-main .block-inner .form--inline input.form-submit{
  min-height:4.4rem;
  height:4.4rem;
}

.path-contact .block-system-main-block{
  padding:5rem 0 !important;
}

.path-contact .block-system-main-block{
  background-color:#ffffff;
}
@media print, screen and (min-width: 64em){
  .path-contact .block-system-main-block{
    padding:8rem !important;
  }
}
.path-contact .block-system-main-block .block-inner{
  max-width:122.2rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}

.contact-form{
  display:flex;
  flex-wrap:wrap;
}
.contact-form .left,
.contact-form .right{
  width:100%;
}
@media print, screen and (min-width: 23.5em){
  .contact-form .left,
  .contact-form .right{
    width:80%;
    margin:0 auto;
  }
}
@media print, screen and (min-width: 48em){
  .contact-form .left,
  .contact-form .right{
    width:60%;
  }
}
@media print, screen and (min-width: 64em){
  .contact-form .left,
  .contact-form .right{
    width:50%;
  }
}
@media print, screen and (min-width: 64em){
  [dir="ltr"] .contact-form .left{
    padding-right:2rem;}
  [dir="rtl"] .contact-form .left{
    padding-left:2rem;}
}
.contact-form .right .ajax-progress{
  display:none;
}
@media print, screen and (min-width: 64em){
  [dir="ltr"] .contact-form .right{
    padding-left:2rem;}
  [dir="rtl"] .contact-form .right{
    padding-right:2rem;}
}
.contact-form .form-wrapper:not(:first-child){
  margin-top:4.2rem;
}
.contact-form .form-managed-file{
  display:flex;
  -font-box-pack:justify;
  justify-content:space-between;
  -mox-box-align:center;
  align-items:center;
  flex-wrap:wrap;
}
.contact-form .form-managed-file .form-submit{
  font-family:"Montserrat", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-decoration:none !important;
}
.contact-form .form-managed-file .form-submit{
  border:0.2rem solid #26c9de;
  font-size:1.7rem;
  font-weight:700;
  padding:0.8rem 2rem;
}
@media print, screen and (min-width: 48em){
  .contact-form .form-managed-file .form-submit{
    padding:0.8rem 3.5rem;
  }
}
.contact-form .form-managed-file .form-submit:hover{
  border-color:#12284c;
  background-color:#12284c;
  color:#ffffff;
}
.contact-form .form-actions{
  display:flex;
  justify-content:center;
  text-align:center;
  width:100%;
}
.contact-form .description{
  font-size:1.4rem;
}
.contact-form .description a{
  color:#26c9de;
  text-decoration:underline;
}
.contact-form input[data-drupal-selector=edit-preview]{
  display:none;
}

.path-user .user-login-form{
  max-width:68.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  padding-bottom:10rem;
}
.path-user .js-form-item{
  margin-bottom:3rem;
}
.path-user select,
.path-user input,
.path-user textarea{
  background-color:#ffffff;
}