@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.field--label-inline{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  font-family:"Open Sans", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media print, screen and (min-width: 48em){
  .field--label-inline{
    flex-direction:row;
  }
}
.field--label-inline .field__label{
  font-weight:700;
}
.field--label-inline .field__label:after{
  content:": ";
}