@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.page-node-type-page .block-page-title-block{
  margin-top:5rem;
  margin-bottom:5rem;
}
@media print, screen and (min-width: 48em){
  .page-node-type-page .block-page-title-block{
    margin-top:6rem;
    margin-bottom:6rem;
  }
}
.page-node-type-page .block-page-title-block .block-inner{
  max-width:88.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.page-node-type-page .block-page-title-block .page-title{
  text-align:center;
  line-height:1.225;
}
.page-node-type-page .field--name-body,
.page-node-type-page .field--name-field-lead{
  max-width:68.5rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  font-family:"Open Sans", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1.8rem;
  line-height:1.66;
  padding-bottom:5.5rem;
  color:#12284c;
  text-decoration:none;
  margin-top:2rem;
}
.page-node-type-page .field--name-field-lead,
.page-node-type-page .field--name-body p:not([class]){
  text-align:center;
}
.page-node-type-page .block-page-title-block + .node--type-page .field--name-body,
.page-node-type-page .block-page-title-block + .node--type-page .field--name-field-lead{
  margin-top:-3rem;
}
@media print, screen and (min-width: 48em){
  .page-node-type-page .block-page-title-block + .node--type-page .field--name-body,
  .page-node-type-page .block-page-title-block + .node--type-page .field--name-field-lead{
    margin-top:-4rem;
  }
}
.page-node-type-page .field--name-field-lead{
  font-weight:700;
}

.White{
  background-color:#ffffff;
}

.Grey{
  background-color:#efefef;
}

.view.view-news.view-id-news.view-display-id-lister_page .views-row #block-tabs{
  max-width:113.5rem;
  margin:0 auto;
  padding-top:2rem;
  padding-bottom:1rem;
  padding-left:0;
  padding-right:0;
}