.White{
  background-color:white;
}

.Grey{
  background-color:#efefef;
}

.view.view-news.view-id-news.view-display-id-lister_page .views-row #block-tabs{
  max-width:113.5rem;
  margin:0 auto;
  padding-top:2rem;
  padding-bottom:1rem;
  padding-left:0;
  padding-right:0;
}