@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.pager{
  padding-top:4rem;
  padding-bottom:4rem;
  padding-left:0;
  padding-right:0;
  font-family:"Open Sans", sans-serif;
}
.pager,
.pager a{
  color:#12284c;
}
.pager__item{
  display:inline-flex;
  flex-direction:row;
  justify-content:center;
  padding:0.9rem;
}
.view-search .pager{
  margin-top:-2rem;
}