@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.system-messages .inner-container{
  max-width:120rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  padding-top:2rem;
  padding-bottom:2rem;
}