@charset "UTF-8";
.clearfix:before, .clearfix:after{
  content:" ";
  display:table;
}
.clearfix:after{
  clear:both;
}
.path-resources .block-page-title-block .block-inner{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.path-resources .block-page-title-block{
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  padding-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  max-width:100%;
}
[dir="ltr"] .path-resources .block-page-title-block .block-inner h1.page-title{
  text-align:left;}
[dir="rtl"] .path-resources .block-page-title-block .block-inner h1.page-title{
  text-align:right;}
.path-resources .block-page-title-block .block-inner h1.page-title{
  margin-top:6rem;
  margin-bottom:3rem;
  margin-left:0;
  margin-right:0;
  font-size:3rem;
  line-height:1.16;
}
@media print, screen and (min-width: 23.5em){
  .path-resources .block-page-title-block .block-inner h1.page-title{
    margin-bottom:2.2rem;
    font-size:4rem;
  }
}

.block-facet-blocktags-of-document{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
  margin-top:3rem;
  margin-bottom:2.3rem;
  margin-left:auto;
  margin-right:auto;
}
.block-facet-blocktags-of-document:before, .block-facet-blocktags-of-document:after{
  content:" ";
  display:table;
}
.block-facet-blocktags-of-document:after{
  clear:both;
}
@media print, screen and (min-width: 23.5em){
  .block-facet-blocktags-of-document{
    margin-top:4rem;
    margin-bottom:3.5rem;
  }
}
.block-facet-blocktags-of-document .item-list__links{
  margin:-0.25rem;
}
[dir="ltr"] .block-facet-blocktags-of-document .facet-item{
  float:left;}
[dir="rtl"] .block-facet-blocktags-of-document .facet-item{
  float:right;}
.block-facet-blocktags-of-document .facet-item{
  display:block;
  padding:0.25rem;
}
.block-facet-blocktags-of-document .facet-item .facet-wrapper{
  padding:1.5rem;
  background:#f6f6f6;
}
.block-facet-blocktags-of-document .facet-item .facet-wrapper.active{
  background:#ffffff;
}
.block-facet-blocktags-of-document .facet-item a{
  font-family:"Montserrat", -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:1.6rem;
  color:#12284c;
  text-decoration:none;
  line-height:1.8rem;
  font-weight:bold;
}
.block-facet-blocktags-of-document .facet-item .js-facet-deactivate{
  background-image:url("../../images/dist/icons/close-dark.svg");
  background-repeat:no-repeat;
  width:1.5rem;
  height:1.5rem;
  display:inline-block;
  top:0.2rem;
  position:relative;
}

.views-element-container{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}

.view-search{
  clear:both;
  padding-top:3.5rem;
}

.block-views-exposed-filter-blocksearch-resources{
  max-width:139rem;
  margin-left:auto;
  margin-right:auto;
  padding:0 1.5rem;
}
.block-views-exposed-filter-blocksearch-resources .form--inline{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
@media print, screen and (min-width: 23.5em){
  .block-views-exposed-filter-blocksearch-resources .form--inline{
    flex-wrap:nowrap;
    align-items:flex-end;
  }
}
@media print, screen and (min-width: 23.5em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-type-textfield{
    float:left;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-type-textfield{
    float:right;}
  .block-views-exposed-filter-blocksearch-resources .form-type-textfield{
    max-width:41.1rem;
  }
}
.block-views-exposed-filter-blocksearch-resources .form-type-textfield input{
  background-color:#ffffff;
  border:1px solid #d4d4d4;
  background-image:url("../../images/dist/icons/search.svg");
  background-repeat:no-repeat;
  background-size:2.2rem;
  height:4.8rem;
}
@media print, screen and (min-width: 23.5em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-type-textfield input{
    padding-left:2.3rem;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-type-textfield input{
    padding-right:2.3rem;}
}
[dir=ltr] .block-views-exposed-filter-blocksearch-resources .form-type-textfield input{
  background-position:98% center;
}
[dir=rtl] .block-views-exposed-filter-blocksearch-resources .form-type-textfield input{
  background-position:2% center;
}
.block-views-exposed-filter-blocksearch-resources .form-item-category{
  margin-top:2.1rem;
}
@media print, screen and (min-width: 23.5em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-item-category{
    margin-left:1rem;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-item-category{
    margin-right:1rem;}
  .block-views-exposed-filter-blocksearch-resources .form-item-category{
    max-width:38.6rem;
    margin-top:0;
  }
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-item-category{
    margin-left:2.7rem;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-item-category{
    margin-right:2.7rem;}
}
.block-views-exposed-filter-blocksearch-resources .form-item-category select{
  background-color:#ffffff;
  border:0.1rem solid #dadada;
  height:4.8rem;
}
.block-views-exposed-filter-blocksearch-resources .form-actions{
  width:100%;
  margin-top:2.6rem;
}
@media print, screen and (min-width: 23.5em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-actions{
    margin-left:1rem;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-actions{
    margin-right:1rem;}
  .block-views-exposed-filter-blocksearch-resources .form-actions{
    width:auto;
    margin-top:0;
  }
}
@media print, screen and (min-width: 48em){
  [dir="ltr"] .block-views-exposed-filter-blocksearch-resources .form-actions{
    margin-left:2.7rem;}
  [dir="rtl"] .block-views-exposed-filter-blocksearch-resources .form-actions{
    margin-right:2.7rem;}
}
@media print, screen and (max-width: 47.99875em){
  .block-views-exposed-filter-blocksearch-resources input.form-submit{
    width:100%;
  }
}