{#
/**
 * @file
 * Default theme implementation to present the Site warning message.
 */
#}
<div data-drupal-messages="" class="system-messages">
  <div class="inner-container">
    <div role="contentinfo" aria-label="Status message" class="messages messages--warning">
    {{ content }}
    </div>
  </div>
</div>
